<md-dialog aria-label="List dialog">
<md-dialog-content>
<div class="wrap-caja-mensaje lightbox-mensaje">
  <md-list>
    <md-list-item ng-repeat="message in msgController.conversation_messages">
        <img ng-src="{{ profile.imageServer}}/smart/{{ message.photo }}"  alt="">
         <p> {{message.body}}</p>
      </md-list-item>
    </md-list-item>
  </md-list>
<div class="caja-mensaje">
  <md-input-container class="block-mensaje">
    <label class="placeholder-mensaje">Ingresa tu mensaje (Maximo 140 caracteres)</label>
    <textarea required class="Mensaje" name="mensaje" ng-model="msgController.mensaje" md-maxlength="140" rows="4" md-select-on-focus style="border: 0">
        </textarea>
  </md-input-container>
  <md-button class="boton-enviar" ng-click="msgController.sendMessage(cnv.conversation_id = conversation_id)">ENVIAR</md-button>
</div>
</div>
</md-dialog-content>
</md-dialog>
