.acme-profile {
  background: #fff;
  width: 100%;
  @media (max-width: 960px) {
    background: #f1f1f1;
    width: 100%;
  }
  .container {
    @media (max-width: 960px) {
      max-width: 960px;
      width: 100%;
    }
    .profile-bg-top {
      background: #f1f1f1;
      padding-top: 25px;
      margin-bottom: 4px;
      @media (max-width: 960px) {
        width: 100%;
        padding: 0;
        .flex-20 {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      @media (max-width: 960px) {
        .flex-20 {
          width: 100%;
          padding: 0;
        }
      }
      .md-datepicker-input-container {
        width: 170px;
        margin-left: 0;
        border-bottom: solid 1px #3ca007;
        .md-datepicker-input {
          min-width: 140px;
        }
      }
      md-datepicker {
        .md-button.md-icon-button {
          margin: 0;
          padding: 0;
        }
      }
    }
    md-switch.md-checked .md-thumb {
      background-color: #4cae4e;
    }
    md-switch.md-checked .md-bar {
      background-color: #E5E4E4;
    }
    > .layout-row {
      background-color: rgb(255, 64, 129);
      margin-bottom: 4px;
    }
    md-input-container {
      background: #fff;
      border-radius: 5px;
      padding: 10px;
      margin: 0 0 5px 0;
      label {
        font-size: 12px;
        left: 10px;
        color: #686868;
      }
      input, md-select .md-select-value {
        border-bottom: solid 1px #3ca007;
        font-size: 12px;
        color: #686868;
        font-family: 'Montserrat', serif;
      }
      textarea {
        font-size: 12px;
        color: #686868;
        font-family: 'Montserrat', serif;
        border-bottom: solid 1px #3ca007;
      }
      .md-chips .md-chip .md-chip-content {
        font-size: 12px;
        cursor: pointer;
      }
      .seleccionar {
        font-size: 12px;
        background: #DAD9D9;
        border-radius: 3px;
        padding: 5px;
        display: block;
        color: #424040;
        cursor: pointer;
      }
    }
    md-input-container.md-has-icon {
      padding-left: 36px;
      padding-right: 0;
      display: block;
      label {
        left: 36px;
      }
      .am-date-picker__calendar-icon {
        top: 4px;
      }
    }
    .wrap-input {
      background: #fff;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
    }
    md-card {
      width: 100%;
      margin: 0;
      position: relative;
      .card-wrap {
        .card-opacity {
          background: rgba(34, 35, 38, .4);
          position: absolute;
          display: block;
          width: 100%;
          top: 0;
        }
      }
      .profile-head {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        .profile-head-image {
          border-radius: 100px;
          width: 110px;
          height: 110px;
          position: absolute;
          z-index: 40;
        }
        .profile-head-image-content {
          position: relative;
          margin-top: 40px;
          width: 110px;
          @media (max-width: 960px) {
            margin-top: 10px;
          }
          .bt-gray {
            position: absolute;
            top: 45px;
            right: -80px;
            padding-left: 30px;
          }
        }
        .md-headline {
          font-size: 21px;
          line-height: 21px;
          color: #fff;
          text-align: center;
          font-weight: 700;
          @media (max-width: 960px) {
            height: 20px;
            overflow: hidden;
          }
        }
        .bt-gray {
          color: #fff;
          text-decoration: none;
          background: #2e302e;
          font-size: 10px;
          font-weight: 700;
          padding: 10px;
          display: block;
          cursor: pointer;
          &.bottom {
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            width: 90px;
          }
          &:hover {
            background: #464946;
          }
        }
      }
    }
    .profile-bottom {
      background: #f1f1f1;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top:20px;
      h3 {
        color: #4a6dce;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
      }
      p {
        color: #5d5d5d;
        font-size: 12px;
        margin: 0;
      }
      .bg-white {
        background: #fff;
        border-radius: 5px;
        height: 40px;
        span {
          font-size: 10px;
          margin-right: 10px;
          color: #57585b;
        }
      }
      &.flex-30 {
        padding: 0;
        @media (max-width: 768px) {
          margin: 0 15px;
        }
      }
    }

    .bt-green {
      &:before {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 10px solid #fff;
        content: '';
        display: inline-block;
        padding-left: 5px;
        position: relative;
        top: 1px;
      }
      &:after {
        display: none;
      }
    }
    .layout-privacidad.layout-row {
      background: none;
    }

    .blueBlock {
      max-height: 100%;
      max-width: 100%;
      height: 100px;
      width: 100%;
      line-height: 100px;
      font-size: 25px;
      text-align: center;
      color: #fff;
      background: #496ccd;
      margin: auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .blueArrow {
      width: 0px;
      height: 0px;
      border-style: solid;
      margin: auto;
      border-width: 30px 28px 0 28px;
      border-color: #496ccd transparent transparent transparent;
      line-height: 0px;
      _border-color: #496ccd #000000 #000000 #000000;
    }

    .editor-Perfil {
      flex-grow: 100;
      max-width: 100%;
      background: #f9f9f9;

      .credentials {
        max-width: 100%;
        flex-grow: 5;
        .md-block {
          max-width: 100%;
          background: #fff;
          margin: 10px;
          border-radius: 2px;
          .sobreVos {

          }
        }
      }
    }
    .contrasena-Notificaciones {
      max-width: 100%;
      margin-top: 20px;
      .cambiar-Contrasena {
        background: #f9f9f9;
        padding: 10px;
        h6 {
          font-weight: bold;
          font-size: 15px;
          color: #496ccc;
        }
      }
      .credentials {
        max-width: 100%;
        .md-block {
          flex-grow: 4;
          max-width: 100%;
          background: #fff;
          margin: 10px;
          border-radius: 2px;
        }
      }
      .notificaciones {
        max-width: 100%;
        background: #f9f9f9;
        margin-top: 10px;
        padding-left: 10px;
        h6 {
          font-weight: bold;
          font-size: 15px;
          color: #496ccc;
        }
        p {
          font-size: 10px;
          color: rgba(0, 0, 0, 0.5);
          padding-bottom: 20px;
        }
        .spanNotificaciones {
          max-width: 100%;
          padding-right: 30px;
          padding-left: 30px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .md-raised {
      left: 10px;
      max-width: 300px;
      margin-top: 10px;
      margin-bottom: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .login-ok {
      border: solid 7px #e0e0e0;
      padding: 30px 90px 40px 90px;
      @media (max-width: 960px) {
        padding: 0;
      }
      &.envio-correo {
        border: none;
        padding-bottom: 40px;
      }
    }
    .md-button.md-raised.md-green {
      background: #4cae4e;
      color: #fff;
      &:not([disabled]):hover {
        background-color: #34b436;
      }
    }
    .activacion-bg {
      background: #0d47a1;
      min-height: 700px;
      text-align: center;
      h2 {
        color: #fff;
        background: #1b3089;
        font-size: 28px;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 0 0 10px 0;
      }
      h3 {
        color: #fff;
        font-size: 28px;
        margin: 0 0 5px 0;
      }
      p {
        color: #fff;
        font-size: 16px;
        margin: 0 0 30px 0;
      }
      .circle {
        background: #1b3089;
        width: 40px;
        height: 40px;
        border-radius: 100px;
      }
    }
  }
}
    md-card.public-profile {
      @media (min-width: 960px) {
        width: 960px;
      }
      .md-card-members {
        width: 100%;
        .md-card-avatar {
          border-radius: 100px;
        }
        .name {
          font-size: 5vmin;
          text-transform: capitalize;
        }
        .bt-green.md-button {
          height: inherit;
          padding: 5px 30px;

          &:hover {
            background: #34b436;
          }
          &:after {
            display: none;
          }
        }
        .md-item-text {
          h3 {
            color: #fff;
            background: #38383a;
            font-size: 0.8em;
            text-transform: capitalize;
            margin: 0;
            padding: 8px;
            border-radius: 3px 3px 0 0;
          }
          p {
            font-size: 1em;
            padding: 10px 0;
            margin: 0;
            font-weight: bold;
            border-radius: 0 0 3px 3px;
          }
          &.bg-orange p {
            background: #ec8645;
          }
          &.bg-violet p {
            background: #4a6dce;
          }
        }
      }
      md-card-content {
        padding: 0;
        position: relative;
        max-height: 380px;
        overflow: hidden;
        md-card-title {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          md-card-title-text {
            position: absolute;
            left: 20px;
            bottom: 20px;
            .md-title-image {
              border: solid 3px #fff;
              border-radius: 3px;
              box-shadow: 1px 1px 2px rgba(255, 255, 255, .7);
            }
            .md-headline {
              font-size: 12px;
              text-transform: capitalize;
            }
          }
        }
        .md-card-image {
          background-size:cover;
          display: block;
          max-width: 100%;
        }
      }
    }
.acme-public-profile {
  width: 100%;
  @media (max-width: 960px) {
  }
  .buttons-xs-sm {
    margin: 3px;
    .bt-green {
      width: 100%;
      background: #4cae4e;
      font-size: 12px;
      color: #fff;

    }
    .bt-blue {
      margin-top: 0;
      width: 100%;
      background: #548ed8;
      font-size: 12px;
      color: #fff;
      line-height: 32px;
      border-radius: 0;
    }
  }

  .bioTotal {
    max-width: 960px;
    flex-grow: 100;

    .bio-Info {
      flex: 70%;
      width: 100%;
      .bioContainer {
        margin: 10px 20px;
        border-bottom: 1px;
        h3 {
          color: #666;
          text-transform: uppercase;
          font-size: 14px;
          &:before {
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid #666;
            display: block;
            content: '';
            float: left;
            margin-right: 5px;
          }
        }
      }
      .bioContent {
        background: #f7f7f7;
        padding: 20px;
      }
      p {
        font-size: 14px;
        color: #666;
        padding-left: 10px;
      }
      pre {
        font-family: 'Montserrat', serif;
        font-size: 14px;
        color: #666;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .my-Winwins-Container {
        .length {
          background: #EC8645;
          color: #fff;
          border-radius: 5px;
          display: inline;
          padding: 6px;
        }
        margin: 10px 20px;
        border-bottom: 1px;
        h3 {
          margin-right: 5px;
          display: inline;
          font-size: 14px;
          text-transform: uppercase;
          color: #666;
        }
      }
      .my-Winwins-Content {
        border-bottom: 1px;
        background: #f7f7f7;
      }
      .participo-Winwins-Container {
        margin: 10px 20px;
        .length {
          background: #EC8645;
          color: #fff;
          border-radius: 5px;
          display: inline;
          padding: 6px;
        }
        h3 {
          margin-right: 5px;
          display: inline;
          font-size: 14px;
          color: #666;
          text-transform: uppercase;
            .participo-Winwins-Content {
              background: #fafafa;
          }
        }
      }
      .seguidores-Container {
        padding: 10px;
        margin: 10px 20px;
        .length {
          background: #496ccc;
          color: #fff;
          border-radius: 5px;
          display: inline;
          padding: 6px;
        }
        h3 {
          margin-right: 5px;
          display: inline;
          font-size: 14px;
          color: #666;
          text-transform: uppercase;
          p {
            font-size: 30px;
            margin: 0;
            font-weight: bold;
            border-radius: 0 0 3px 3px;
          }
        }
      }
      .seguidores-Content {
        background: #fafafa;
        .seguidores-items {
          padding: 20px;
          max-width: 100%
        }
        .avatarSeguidor {
          max-width: 80px;
          border-radius: 100px;
          margin: 5px;
        }
      }
      .siguiendo-Container {
        padding: 10px;
        margin: 10px 20px;
        border-bottom: 1px;
        .length {
          background: #496ccc;
          color: #fff;
          border-radius: 5px;
          display: inline;
          padding: 6px;
        }
        h3 {
          margin-right: 5px;
          display: inline;
          font-size: 14px;
          color: #666;
          text-transform: uppercase;
          p {
            font-size: 30px;
            padding: 10px;
            margin: 0;
            font-weight: bold;
            border-radius: 0 0 3px 3px;

          }
        }
      }
      .siguiendo-Content {
        background: #fafafa;
        .siguiendo-items {
          padding: 20px;
          max-width: 100%;
          .avatarSiguiendo {
            max-width: 80px;
            border-radius: 100px;
            margin: 5px;
          }
        }

      }
    }

      .bio-Actions {
        flex: 30%;
        max-width: 100%;
        .mensajeriaPrivada {
          background: #fafafa;
          .chat {
            width: 270px;
          }

          .bubble{
            max-width: 130px;
            background-color: #F2F2F2;
            border-radius: 5px;
            box-shadow: 0 0 6px #B2B2B2;
            display: inline-block;
            padding: 10px 18px;
            position: relative;
            vertical-align: top;
            font-size: 14px;
            margin: 5px;
          }

          .bubble::before {
            background-color: #F2F2F2;
            content: "\00a0";
            display: block;
            height: 16px;
            position: absolute;
            top: 11px;
            transform:             rotate( 29deg ) skew( -35deg );
            -moz-transform:    rotate( 29deg ) skew( -35deg );
            -ms-transform:     rotate( 29deg ) skew( -35deg );
            -o-transform:      rotate( 29deg ) skew( -35deg );
            -webkit-transform: rotate( 29deg ) skew( -35deg );
            width:  20px;
          }

          .you {
            float: left;
            margin: 5px 45px 5px 20px;
          }

          .you::before {
            box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
            left: -9px;
          }

          .me {
            float: right;
            margin: 5px 20px 5px 45px;
          }

          .me::before {
            box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
            right: -9px;
          }




          .mensajes-anteriores {
            font-size: 12px;
            text-align: left;
            padding: 10px;
            color: #5e5e5e;
          }
          .md-button {
            max-width: 100%;
            width: 275px;
            background: #548ed8;
            font-size: 12px;
            color: #fff;
            margin: 10px;
            &:hover {
              background: #bcdeff;
            }
            .md-button:first-letter {
              text-transform: uppercase
            }
          }
          .block-mensaje {
            width: 255px;
            max-width: 100%;
            height: 150px;
            background: #fafafa;
            margin: 10px;
            border: 0;
            .placeholder-mensaje {
              font-size: 10px;
            }
            .input-mensaje {
              .md-char-count {
                position: absolute;
              }
            }
          }
          .avatar-mensaje {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            margin: 10px;
          }
          .datos-mensaje {
            font-size: 12px;
            font-weight: normal;
            margin: 3px;
          }
          .mensajes-recibidos-title {
            text-align: center;
            padding: 15px;
            color: #666666;
            &:hover {
              background: #fafafa;
            }
            .mensajes-recibidos-content {
              margin: 10px;
            }


            .exito {
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }

  }
}

  .actividadReciente {
    text-align: center;
    font-size: 12px;
    color: #666666;
    padding: 8px;
  }
  .actividadRecienteContainer {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    text-align: left;
    .actividadRecienteContent {
      border-radius: 5px;
      margin: 4px;
      font-size: 12px;
      font-weight: bold;
      background: #fff;
      height: 80px;

      .titulo.WW_JOIN {
        color: #EE874F;
      }
      .titulo.WW_CREATED {
        color: #EE874F;
      }
      .titulo.USER_FOLLOW {
        color: #FF2626;
      }
      .titulo.USER_UNFOLLOW {
        color: #FF2626;
      }
      .titulo.GROUP_JOIN {
        color: #5EA645
      }
      .titulo.GROUP_CREATED {
        color: #5EA645
      }
      .mensajito {
        line-height: 0px;
        font-weight: normal;
      }
      .mensajito:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .responsiveTabs {
    max-width: 100%;
    md-tabs-wrapper {
      background: #7199f4;
      @media (min-width: 1000px) {
        display: none;
        background: #fff;
      }
    }
    .mensajeriaPrivadaMobile {
      width: 290px;
      height: 20vmin;
      overflow: scroll;
      overflow-x: hidden;
      .chat {
        width: 290px;
      }
      .bubble {
        background-color: #F2F2F2;
        border-radius: 5px;
        box-shadow: 0 0 6px #B2B2B2;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        vertical-align: top;
        font-size: 14px;
        margin: 5px;
      }

      .bubble::before {
        background-color: #F2F2F2;
        content: "\00a0";
        display: block;
        height: 16px;
        position: absolute;
        top: 11px;
        transform: rotate(29deg) skew(-35deg);
        -moz-transform: rotate(29deg) skew(-35deg);
        -ms-transform: rotate(29deg) skew(-35deg);
        -o-transform: rotate(29deg) skew(-35deg);
        -webkit-transform: rotate(29deg) skew(-35deg);
        width: 20px;
      }

      .you {
        float: left;
        margin: 5px 45px 5px 20px;
      }

      .you::before {
        box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
        left: -9px;
      }

      .me {
        float: right;
        margin: 5px 20px 5px 45px;
      }

      .me::before {
        box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
        right: -9px;
      }
      .mensajes-anteriores-public {
        width: 270px;
      }
      .mensajes-anteriores {
        font-size: 12px;
        text-align: left;
        padding: 10px;
        color: #5e5e5e;

      }
      .md-button {
        max-width: 100%;
        width: 100%;
        background: #548ed8;
        font-size: 12px;
        color: #fff;
        position: relative;
        left: 30px;
        &:hover {
          background: #bcdeff;
        }
        .md-button:first-letter {
          text-transform: uppercase
        }
      }
      .block-mensaje {
        width: 275px;
        max-width: 100%;
        height: 150px;
        background: #fff;
        margin: 10px;
        .placeholder-mensaje {
          font-size: 10px;
        }
        .input-mensaje {
          .md-char-count {
            position: absolute;
          }
        }
      }
      .avatar-mensaje {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        margin: 10px;
      }
      .datos-mensaje {
        font-size: 12px;
        font-weight: normal;
        margin: 3px;
      }
      .mensajes-recibidos-title-mobile {
        text-align: center;
        padding: 15px;
        color: #666666;
        display: inline;
        &:hover {
          background: #fafafa;
        }
        .mensajes-recibidos-content {
          margin: 10px;
        }

        .exito {
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }

  .title-destacado {
    background: #7199f4;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    &:before {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 10px solid #fff;
      display: block;
      content: '';
      float: left;
      margin-right: 5px;
    }
    &.dark {
      background: #4a6dcd;
    }
  }

  .blueBlock {
    max-height: 100%;
    max-width: 100%;
    height: 100px;
    width: 100%;
    line-height: 100px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background: #496ccd;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .blueArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    margin: auto;
    border-width: 30px 28px 0 28px;
    border-color: #496ccd transparent transparent transparent;
    line-height: 0px;
  }

  .sinActividad {
    padding: 20px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #666666;
  }
.mensaje {
  text-align: left;
  font-size: 14px;
  color: #666666;
  border-radius: 0 0 3px 3px;
  margin: 15px;
}
.acme-profile-fix {
  width: 350px;
  @media (min-width: 600px) {
    width: 650px;
  }
}
.inbox-title {
  color: #666;
  text-align: center;
  background: #fafafa;
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
}
.avatar-mensaje {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin: 10px;
}

.md-button.mensajeria {
  width: 275px;
  background: #548ed8;
  font-size: 12px;
  color: #fff;
  margin: 10px 10px;
  &:hover {
    background: #bcdeff;
  }
  .md-button.mensajeria:first-letter {
    text-transform: uppercase
  }
}
.inboxtmpl {
  height: 100vmin;
  width: 100vmin;
  overflow-x: hidden;
  .carta-inbox {
    width: 90vmin;
    height: 15vmin;
  }
  .tabs {
    width: 100%;
    height: 100%;
  }
}
.caja-mensaje {
  background: #fafafa;
  height: 200px;
  padding: 30px;
  .boton-enviar {
    background: #548ed8;
    color: #fff;
  }
}
.inbox {
  .sin-mensajes {
    text-align: center;
    color: #666;
  }
  .msg-avatar {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 5px;
  }
  .msg-body {
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 20px;
  }
  .msg-name {
    font-size: 10px;
    font-weight: normal;
  }
}
.textarea.Mensaje {
  border: 0;
}
