<div class="acme-public-profile" layout="column" layout-align="center center">
  <md-tabs class="responsiveTabs" md-dynamic-height md-selected="myTabIndex">
    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="assets/images/icon-sponsors-title.svg"></md-icon>
      </md-tab-label>
      <md-tab-body>
        <div layout="row" layout-xs="column">
          <div flex>
            <md-card class="public-profile">
              <md-card-content>
                <img ng-src="{{profile.imageServer}}/{{profile.user.cover_photo}}" class="md-card-image" alt="">
                <md-card-title>
                  <div layout="row" layout-align="space-around end" layout-margin class="md-card-members">
                    <div class="md-item-text bg-violet" ng-if="!profile.user.private || profile.user.myself">
                      <h3 translate>Winwins</h3>
                      <p>{{profile.winwins_length}}</p>
                    </div>
                    <div layout="column" layout-align="center center">
                      <img ng-src="{{profile.avatar}}" class="md-card-avatar" alt="">
                      <div ng-if="!profile.user.myself" class="invisible-space"></div>
                      <md-button ng-click="profile.showCropAvatarDialog()" aria-label="changeAvatar" ng-if="profile.user.myself"><md-icon class="upload-image" md-svg-icon="assets/images/upload_image.svg"></md-icon> </md-button>
                      <div class="name">{{profile.user.name}} {{profile.user.lastname}}</div>
                      <div ng-if="!profile.user.private || profile.user.myself">
                        <md-button hide-xs hide-sm class="bt-green" ng-show="!profile.user.myself && !profile.user.already_following" ng-click="profile.follow(profile.userId)" aria-label="seguir">Seguir</md-button>
                        <md-button hide-xs hide-sm class="bt-green" ng-show="!profile.user.myself && profile.user.already_following" ng-click="profile.unfollow(profile.userId)" aria-label="dejar de seguir">Dejar de Seguir</md-button>
                        <md-button hide-xs hide-sm class="bt-green" ui-sref="home.profile" ng-show="profile.user.myself" aria-label="editar">Editar</md-button>
                      </div>
                    </div>
                    <div class="md-item-text bg-orange" ng-if="!profile.user.private || profile.user.myself">
                      <h3 translate>Seguidores</h3>
                      <p>{{profile.user.followers_amount}}</p>
                    </div>
                  </div>
                </md-card-title>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <div class="buttons-xs-sm" layout="row" hide-gt-sm ng-if="profile.isAuthenticated()">
          <md-button class="bt-green" ng-show="!profile.user.myself && !profile.user.already_following" ng-click="profile.follow(profile.userId)" aria-label="seguir">Seguir a {{profile.user.name}}</md-button>
          <md-button class="bt-green" ng-show="!profile.user.myself && profile.user.already_following" ng-click="profile.unfollow(profile.userId)" aria-label="dejar de seguir">Dejar de Seguir</md-button>
          <md-button class="bt-blue" ng-if="!profile.user.myself && !profile.user.already_following && profile.user.conversations.length == 0" ng-click="profile.follow(profile.userId)" aria-label="seguir">Debes seguir a {{profile.user.name}} para poder enviarle un mensaje</md-button>
          <md-button class="bt-blue" ng-if="!profile.user.myself && profile.user.already_following" ng-click="profile.showMessageModal(0, {})">Manda un mensaje<br>a {{profile.user.name}}</md-button>
        </div>
        <div class="bioTotal" layout="row" layout-align="center start">
          <div class="bio-Info" layout="column" layout-align="center strech">
            <md-card>
              <div class="bioContainer">
                <h3><strong>BIO</strong></h3>
              </div>
              <div class="bioContent">
                <p>
                  {{profile.user.about}}
                </p>
                <p><strong>Estoy interesado en:</strong></p>
                <md-chips>
                  <md-chip ng-repeat="category in profile.user.interests_list">{{category.description}}</md-chip>
                </md-chips>
                <p ng-if="profile.user.myself && profile.user.interests_list.length == 0">Aun no completaste tus intereses, <a ui-sref="home.profile">completalos!</a>
                </p>
                <p ng-if="profile.user.id && profile.user.interests_list.length == 0">{{profile.user.name}} No ha completado sus intereses</p>
              </div>
            </md-card>
            <md-card>
              <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <div class="my-Winwins-Container" layout="row">
                  <strong>
                    <h3>MIS WINWINS</h3>
                  </strong>
                  <div class="length">{{profile.creadospormi.length}}</div>
                  <md-icon class="arrowdown">keyboard_arrow_down</md-icon>
                </div>
              </div>
              <div class="my-Winwins-Content" layout="column" ng-show="(profile.creadospormi) && active">
                <acme-highlighted class="acme-profile-fix" items="profile.creadospormi" showDescription="false" showAllProfile="true"></acme-highlighted>
                <p class="mensaje" ng-if="profile.user.myself && profile.creadospormi.length == 0">Aun no creaste ningún Winwin. <a ui-sref="home.crear-winwin">Crear Winwin.</a></p>
                <p class="mensaje" ng-if="profile.user.id && profile.creadospormi.length == 0 && !profile.user.myself">{{profile.user.name}} No ha creado ningun Winwin.</p>
              </div>
            </md-card>
            <md-card>
              <div ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                <div class="participo-Winwins-Container" layout="row">
                    <h3><strong>WINWINS EN QUE PARTICIPO</strong></h3>
                  <div class="length">{{profile.enqueparticipo.length}}</div>
                  <md-icon class="arrowdown">keyboard_arrow_down</md-icon>
                </div>
              </div>
                <div class="participo-Winwins-Content" layout="column" ng-show="(profile.enqueparticipo) && active1">
                  <acme-highlighted class="acme-profile" items="profile.enqueparticipo" icon="'icon-highlighted'" showDescription="false" showAllProfile="true"></acme-highlighted>
                  <p class="mensaje" ng-if="profile.user.myself && profile.enqueparticipo.length == 0">Aun no te sumaste a ningún Winwin. <a ui-sref="home.winwin-list">Ver Wiwins.</a></p>
                  <p ng-if="profile.user.id && profile.enqueparticipo.length == 0 && !profile.user.myself">{{profile.user.name}} No se ha sumado a ningun Winwin.... Me pregunto que hace aca</p>
                </div>

            </md-card>
            <md-card>
              <div class="seguidores-Container" layout-align="row">
                <h3><strong>Seguidores</strong></h3>
                <div class="length">{{profile.user.followers.length}}</div>
              </div>
              <div class="seguidores-Content" layout="row" layout-align="space-around center">
                <div class="mensaje" ng-if="profile.user.followers.length == 0 && profile.user.myself">Aún no te sigue nadie</div>
                <div class="mensaje" ng-if="profile.user.followers.length == 0 && !profile.user.myself">Aún no lo sigue nadie</div>
                <div class="seguidores-items" layout="column" layout-align="space-around center" ng-repeat="following in profile.user.followers" ui-sref="home.public-profile({userId: following.user_id})">
                  <img class="avatarSeguidor" ng-src="{{profile.imageServer}}//{{following.photo}}">
                  <p class="nombreSeguidor">{{following.name}} {{following.lastname}}</p>
                </div>
              </div>
            </md-card>
            <md-card>
              <div class="siguiendo-Container" layout-align="row">
                <h3><strong>Siguiendo a </strong></h3>
                <div class="length">{{profile.user.following.length}}</div>
              </div>
              <div class="siguiendo-Content" layout="row" layout-align="space-around center">
                <div class="mensaje" ng-if="profile.user.following.length == 0 && profile.user.myself">Aún no sigues a nadie, buscá entre nuestra lista de usuarios</div>
                <div class="mensaje" ng-if="profile.user.following.length == 0 && !profile.user.myself">Aún no sigue a nadie</div>
                <div class="siguiendo-items" layout="column" layout-align="space-around center" ng-repeat="follower in profile.user.following" ui-sref="home.public-profile({userId: follower.user_id})">
                  <img class="avatarSiguiendo" ng-src="{{profile.imageServer}}//{{follower.photo}}">
                  <p class="nombreSiguiendo">{{follower.name}} {{follower.lastname}}</p>
                </div>
              </div>
            </md-card>
          </div>
          <div class="bio-Actions" layout="column" hide-xs hide-sm>
            <div ng-if="profile.isAuthenticated()">
              <md-card ng-if="!profile.user.already_following && !profile.user.myself" class="not-following-msj">Debes <strong ng-click="profile.follow(profile.userId)" aria-label="seguir">seguir a {{profile.user.name}}</strong> para poder enviarle un mensaje</md-card>
              <div class="button" ng-if="profile.user.conversations.length == 0 && !profile.user.myself && profile.user.already_following">
            <md-button class="mensajeria" ng-click="profile.showMessageModal(0, {})">ENVIAR MENSAJE A {{profile.user.name}}</md-button>
            </div>
            <md-card class="inbox-title" ng-if="profile.user.conversations.length == 0 && profile.user.myself">INBOX
              <div class="sin-mensajes">
                No hay mensajes...
              </div>
            </md-card>

            <div class="mensajeriaPrivada" ng-if="profile.user.conversations.length > 0">
              <div class="inbox">
                <div>
                  <md-card class="inbox-title" ng-if="!profile.user.myself">Mensajes con {{profile.user.name}}
                  <md-card class="inbox-title" ng-if="profile.user.myself">INBOX
                  <div class="mensajes-recibidos-content" ng-repeat="cnv in profile.user.conversations">
                    <div ng-repeat="message in cnv.messages">
                      <md-card layout="row" ng-click="profile.showMessageModal(cnv.id, cnv.messages)" ng-if="$last" layout-align="space-around-end">
                          <img class="msg-avatar" ng-src="{{profile.avatar}}"  alt="">
                          <p class="msg-body">{{ message.body }}</p><p class="msg-name"> {{message.name}}</p>
                       </md-card>
                    </div>
                  </div>
                  </md-card>
                  </md-card>
                </div>
              </div>
            </div>
          </div>
            <md-card class="actividadReciente">ACTIVIDAD RECIENTE</md-card>
            <div layout-align="row">
              <md-list class="actividadRecienteContainer">
                <md-card class="sinActividad" ng-if="profile.user.activities.length == 0">{{profile.user.name}} no tiene actividad reciente.</md-card>
                <md-list-item class="actividadRecienteContent" ng-repeat="act in profile.user.activities">
                  <img ng-src="{{profile.avatar}}" alt="" class="md-avatar" ui-sref="home.public-profile{{user.id}}">
                  <div layout-align="column">
                    <div layout-align="row">
                      <p class="mensajito">{{profile.user.name}} {{act.mensajito}}</p>
                    </div>
                    <p class="titulo {{act.type}}">{{act.titulo}} {{act.id}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
        </div>
          </div>
      </md-tab-body>
    </md-tab>


    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="assets/images/icon-sponsors-title.svg"></md-icon>
      </md-tab-label>
      <md-tab-body>
        <div layout="row" layout-xs="column">
          <div flex>
            <md-card class="public-profile">
              <md-card-content>
                <img ng-src="{{profile.imageServer}}/{{profile.user.cover_photo}}" class="md-card-image" alt="">
                <md-card-title>
                  <div layout="row" layout-align="space-around end" layout-margin class="md-card-members">
                    <div class="md-item-text bg-violet" ng-if="!profile.user.private || profile.user.myself">
                      <h3 translate>Winwins</h3>
                      <p>{{profile.winwins_length}}</p>
                    </div>
                    <div layout="column" layout-align="center center">
                      <img ng-src="{{profile.avatar}}" class="md-card-avatar" alt="">
                      <md-button ng-click="profile.showCropAvatarDialog()" aria-label="changeAvatar" ng-if="profile.user.myself"><md-icon class="upload-image" md-svg-icon="assets/images/upload_image.svg"></md-icon> </md-button>
                      <div class="name">{{profile.user.name}} {{profile.user.lastname}}</div>
                      <div ng-if="!profile.user.private || profile.user.myself">
                        <md-button hide-xs hide-sm class="bt-green" ng-show="!profile.user.myself && !profile.user.already_following" ng-click="profile.follow(profile.userId)" aria-label="seguir">Seguir</md-button>
                        <md-button hide-xs hide-sm class="bt-green" ng-show="!profile.user.myself && profile.user.already_following" ng-click="profile.unfollow(profile.userId)" aria-label="dejar de seguir">Dejar de Seguir</md-button>
                        <md-button hide-xs hide-sm class="bt-green" ui-sref="home.profile" ng-show="profile.user.myself" aria-label="editar">Editar</md-button>
                      </div>
                    </div>
                    <div class="md-item-text bg-orange" ng-if="!profile.user.private || profile.user.myself">
                      <h3>Seguidores</h3>
                      <p>{{profile.seguidores.length}}</p>
                    </div>
                  </div>
                </md-card-title>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <div class="blueBlock" layout="column"><strong>Mensajes</strong></div>
        <div class="blueArrow"></div>
        <md-button class="btn-login-msg" ng-if="!profile.isAuthenticated()" ng-click="profile.showLoginDialog()" layout="column" layout-align="center center">
          Por favor inicia sesion <br> para ver o enviar mensajes.
        </md-button>
        <div class="bio-Actions" layout="column" ng-if="profile.isAuthenticated()">
          <div class="button" ng-if="profile.user.conversations.length == 0 && !profile.user.myself">
            <md-button class="mensajeria" ng-if="!profile.user.myself && profile.user.already_following" ng-click="profile.showMessageModal(0, {})">ENVIAR MENSAJE A {{profile.user.name}}</md-button>
          </div>

          <md-card class="mensajeriaPrivada">
            <div class="inbox">
              <md-card class="inbox-title" ng-if="profile.user.conversations == null && profile.user.myself">INBOX
                <div class="sin-mensajes">
                  No hay mensajes...
                </div>
              </md-card>
              <div ng-if="profile.user.conversations.length > 0">
                <md-card class="inbox-title" ng-if="!profile.user.myself">Mensajes con {{profile.user.name}}</md-card>
                <md-card class="inbox-title" ng-if="profile.user.myself">INBOX</md-card>
                <div class="mensajes-recibidos-content" ng-repeat="cnv in profile.user.conversations">
                  <div ng-repeat="message in cnv.messages">
                    <md-card layout="row" ng-click="profile.showMessageModal(cnv.id, cnv.messages)" ng-if="$last" layout-align="space-around-end">
                      <img class="msg-avatar" ng-src="{{profile.avatar}}"  alt="">
                      <p class="msg-body">{{ message.body }}</p><p class="msg-name"> {{message.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </md-card>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="assets/images/icon-sponsors-title.svg"></md-icon>
      </md-tab-label>
      <md-tab-body>
        <div layout="row" layout-xs="column">
          <div flex>
            <md-card class="public-profile">
              <md-card-content>
                <img ng-src="{{profile.imageServer}}/{{profile.user.cover_photo}}" class="md-card-image" alt="">
                <md-card-title>
                  <div layout="row" layout-align="space-around end" layout-margin class="md-card-members">
                    <div class="md-item-text bg-violet" ng-if="!profile.user.private || profile.user.myself">
                      <h3 translate>Winwins</h3>
                      <p>{{profile.winwins_length}}</p>
                    </div>
                    <div layout="column" layout-align="center center">
                      <img ng-src="{{profile.avatar}}" class="md-card-avatar" alt="">
                      <md-button ng-click="profile.showCropAvatarDialog()" aria-label="changeAvatar" ng-if="profile.user.myself"><md-icon class="upload-image" md-svg-icon="assets/images/upload_image.svg"></md-icon> </md-button>
                      <div class="name">{{profile.user.name}} {{profile.user.lastname}}</div>
                      <div ng-if="profile.isAuthenticated() && !profile.user.myself">
                        <md-button hide-xs hide-sm class="bt-green" ng-show="!profile.user.myself" ng-click="profile.showSeguirDialog()" aria-label="seguir">Seguir a {{profile.user.name}}</md-button>
                        <md-button hide-xs hide-sm class="bt-green" ui-sref="home.profile" ng-show="profile.user.myself" aria-label="editar">Editar</md-button>
                      </div>
                    </div>
                    <div class="md-item-text bg-orange" ng-if="!profile.user.private || profile.user.myself">
                      <h3 translate>Seguidores</h3>
                      <p>{{profile.user.followers_amount}}</p>
                    </div>
                  </div>
                </md-card-title>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <div class="blueBlock" layout="column"><strong>Actividad Reciente</strong></div>
        <div class="blueArrow"></div>
        <div layout-align="row">
          <md-list class="actividadRecienteContainer">
            <md-list-item class="sinActividad" ng-if="profile.user.activities.length == 0">No tiene actividad Reciente</md-list-item>
            <md-list-item class="actividadRecienteContent" ng-repeat="act in profile.user.activities">
              <img ng-src="{{profile.avatar}}" alt="" class="md-avatar" ui-sref="home.public-profile{{user.id}}">
              <div layout-align="column">
                <div layout-align="row">
                  <p class="mensajito">{{profile.user.name}} {{act.mensajito}}</p>
                </div>
                <p class="titulo {{act.type}}">{{act.titulo}}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </md-tab-body>
    </md-tab>
</md-tabs>

</div>
