<md-content class="acme-sponsor">
  <div class="container" layout="column">
    <div layout="column" layout-align"center center">
      <span class="title" ng-if="vm.title">
        {{ vm.title }}
      </span>
      <span class="subtitle" ng-if="vm.title">
        Organizaciones que ofrecen recursos para concretar winwins
      </span>
    </div>
    <div layout-gt-xs="row" layout-xs="column" layout-align="space-around center" layout-align-xs="center center" layout-wrap>
      <div ng-repeat="item in vm.items" class="sponsors-box">
        <img ng-src="{{vm.imageServer}}/200x110/smart/{{item.cover_photo}}" alt="{{item.name}}" title="{{item.name}}">
      </div>
    </div>
  </div>
</md-content>
