.acme-sponsor {

  height: 332px;

  .title {
    margin: auto;
    font: 100% Montserrat,serif;
    font-size: 35px;
    font-weight: bold;
    color: #e15d48;
    background-color: #ffffff;
    margin-top: 46px;
    text-transform: uppercase;

    .orange-highlight {
      color: #f98224;
    } 
  }

  .subtitle {
    margin: auto;
    margin-top: 19px;
    margin-bottom: 18px;
    font: 100% Abel,serif;
    font-size: 18px;
    color: #333333;
  }

  .acme-sponsor-body {
    margin-top: 63px;
    background: #ffffff;
  }



}