<md-content class="acme-contact">
  <div class="container">
    <h1><span translate>Contáctanos</span></h1>
    <form method="post" name="winwin.FormContacto">
      <div layout="column" layout-padding>
        <md-input-container class="md-block">
          <label translate>Nombre</label>
          <input required name="name" ng-model="project.clientName" class="md-input">
          <div ng-messages="winwin.FormContacto.name.$error">
            <div ng-message="required" translate>Campo obligatorio</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Apellido</label>
          <input required name="apellido" ng-model="project.clientName" class="md-input">
          <div ng-messages="winwin.FormContacto.apellido.$error">
            <div ng-message="required" translate>Campo obligatorio</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Mail</label>
          <input required name="email" ng-model="user.email" type="email" class="md-input">
          <div ng-messages="winwin.FormContacto.email.$error">
            <div ng-message="required" translate>Campo obligatorio</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Mensaje</label>
          <textarea ng-model="user.mensaje" name="mensaje" md-maxlength="150" rows="5" md-select-on-focus required class="md-input"></textarea>
          <div ng-messages="winwin.FormContacto.mensaje.$error">
            <div ng-message="required" translate>Campo obligatorio</div>
          </div>
        </md-input-container>
        <md-button class="md-raised md-primary bt-green">Enviar</md-button>
      </div>
    </form>
  </div>
</md-content>