<div class="main-container" layout="column">
  <div id="header" class="header-container" layout="column" layout-align="space-around center">
    <div class="texto-utopia">"Nuestro sue&ntilde;o es lograr un gran<br>acuerdo humano para crear juntos<br>un planeta donde todos podemos<br>vivir mejor y ser mas felices."</div>
    <md-button class="btn-orange-main-login" ng-show="!main.isAuthenticated()" ng-click="main.showLoginDialog()"><i class="fa fa-chevron-right animated infinite flash"></i> SÉ PARTE, SUMATE.</md-button>
<!--    <md-button class="facebook-login" ng-show="!main.isAuthenticated()"  ng-click="login.authenticate('facebook')" aria-label="Facebook">o ingresa con Facebook</md-button> -->
    <md-icon class="arrow-down animated infinite pulse" href="#video-container" du-smooth-scroll>keyboard_arrow_down</md-icon>
  </div>
  <div class="ww-destacados" layout="column" layout-align="space-around center">
    <p class="ww-destacados-titulo" style="font-size: 40px; font-weight: bold;">WINWINS DESTACADOS</p>


    <!--Repeti la linea de arriba, se deberian ver 6 winwins-->
    <acme-highlighted items="main.destacados"  style="background:transparent;" title="false" icon="'icon-concretados'" viewmore="false" seeDescription="false" loading="main.loadingDestacados" class="index-winwins">
  </acme-highlighted>
   <button style="background-color: #f60; color: #fff; border:0px; border-radius:40px; font-weight: bold;padding:15px;" ui-sref="home.winwin-list()">VER TODOS LOS WINWINS</button>
</div>

<div class="video-yt" layout="row" layout-align="center center">
  <div><iframe width="560" height="415" src="https://www.youtube.com/embed/SDdGYotJ4-E" frameborder="0" allowfullscreen></iframe></div>
</div>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100%" height="100%" viewBox="0 0 595.28 25.882" enable-background="new 0 0 595.28 25.882" xml:space="preserve">
<rect y="-8.471" fill="#fff" width="100%" height="100%"/>
<polygon fill="#3C66B0" points="595.28,26.882 0,26.882 595.28,2.764 "/>
<polygon fill="#fff" points="-0.985,0.823 597.546,0.823 -0.985,25.293 "/>
</svg>

  <div class="como-funciona" layout="column" layout-align="space-around center">
    <div layout="column" layout-align="center center">
    <p class="funciona-titulo">ASÍ FUNCIONA</p>
    <p class="funciona-subtitulo">PEQUEÑOS CAMBIOS INDIVIDUALES,<br>GRANDES CAMBIOS COLECTIVOS</p>
    </div>
    <div class="flujo-funcionamiento" layout="row" layout-xs="column">
      <div class="crea-flujo" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="crea-title">1-CREA O UNITE<br>A UNA CAUSA WINWIN</p>
        <p class="crea-subtitle">Tu imaginación es el límite</p>
        <p class="crea-info">Construí creando nuevas ideas y acciones<br>sociales para que todos ganemos.<br><br>
        Creá o sumaté en 30 segs y comenzá a jugar un juego,<br>dónde todos ganamos mejorando el mundo. Súmate.</p>
        <md-button class="btn-orange-main" ng-click="$root.createWinwin()">CREAR UN WINWIN</md-button>
      </div>
      <div class="participa-flujo" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/personamas.png">
        <p class="participa-title">2-PARTICIPA DE LA ACCIÓN,<br>SUMA IDEAS Y PERSONAS</p>
        <p class="participa-subtitle">El poder es nuestro</p>
        <p class="participa-info">Compartí tu desafio al mundo a través de las<br>redes sociales y la difusión en Internet.<br><br>
          Sé un lider social, empoderado inmediatamente<br>por otras personas y por winwins.org</p>
        <md-button class="btn-orange-main" ui-sref="home.winwin-list()">BUSCAR WINWINS</md-button>
      </div>
      <div class="mejora-flujo" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/mundowinwinverde.png">
        <p class="mejora-title">3-MEJORA EL MUNDO</p>
        <p class="mejora-subtitle">Con tu acción todos ganamos.</p>
        <p class="mejora-info">Un im, por más mínimo o pequeño que sea<br><br>
          Con tus ideas, tu compromiso y la acción<br>conjunta de todos, juntos ganamos.</p>
        <md-button class="btn-orange-main">CASOS DE IMPACTO</md-button>
      </div>
    </div>
  </div>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100%" height="100%" viewBox="0 0 595.28 25.882" enable-background="new 0 0 595.28 25.882" xml:space="preserve"style="margin-top: -10px;">
<rect x="-1.985" y="1.008" transform="matrix(-1 2.780755e-005 -2.780755e-005 -1 591.311 36.3599)" fill="#F1F1F1" width="100%" height="100%" />
<polygon fill="#3C66B0" points="-1.985,0.017 593.295,0 -1.984,24.135 "/>
<polygon fill="#fff" points="594.28,26.059 -4.25,26.076 594.28,1.589 "/>
</svg>


<!-- seccion Reglas y Quorum 
  <div class="reglas-quorum" layout="row" layout-xs="column" layout-align="center center">
    <div class="ideas-winwin">
      <div class="ideas-title">
        IDEAS PARA UN WINWIN
      </div>
      <div class="ideas-content">
        <br>
        Preguntate
        <br>
        <br>
        Qué necesidades tiene mi mundo?<br>Qué podemos hacer para mejorar?<br>Que estaría bueno realizar?<br>Qué me interesa hacer?<br><br>Empezá por casa, tu barrio, tu escuela<br>
        la facultad, la plaza, el país, y llegá al mundo.<br>Planteate algo simple, para seguir hacia<br>desafíos más grandes.<br><br>También podés buscar ideas en la web<br>
        y replicar Winwins en tu barrio o ciudad.
      </div>
    </div>
    <div class="quorum-wrapper" layout="column" layout-align="space-around center">
      <p class="quorum-title">EL QUORUM</p>
      <div layout="row" layout-align="space-around center" class="quorum-container" style="border: none">
        <md-icon class="quorum-icon1" md-svg-src="assets/images/quorum_ico.svg"></md-icon>
        <div class="quorum-necesario" layout="column">
          <div class="quorum-box-title">
            Quorum necesario
          </div>
          <div class="quorum-box-title-divider"></div>
          <div class="quorum-box-subtitle">
            Los winwins requieren un quorumminimo participacion.
          </div>
          <span class="quorum-box-footer"> <strong>
             (Cuando se logra, le avisamos a todos)</strong>
           </span>
        </div>
      </div>
      <div layout="row" layout-align="space-around center" class="quorum-container">
        <md-icon class="quorum-icon2" md-svg-src="assets/images/sin_quorum_ico.svg"></md-icon>
        <div class="no-quorum" layout="column">
          <span class="quorum-box-title">
           Quorum no alcanzado
          </span>
          <div class="quorum-box-title-divider"></div>
          <span class="quorum-box-subtitle">
           Si ese quorum no se alcanza,no hay compromisos de participar.
         </span>
        </div>
      </div>
      <div layout="row" layout-align="space-around center" class="quorum-container">
        <md-icon class="quorum-icon3" md-svg-src="assets/images/con_quorum_ico.svg"></md-icon>
        <div class="con-quorum" layout="column">
            <span class="quorum-box-title">
         Quorum alcanzado
       </span>
          <div class="quorum-box-title-divider"></div>
          <span class="quorum-box-subtitle">
         Si se cumple el quorum, considera que los participantes cuentan con vos.
       </span>
        </div>
      </div>
    </div>
    <div class="reglas-container" layout="column" layout-align="space-around center">
      <p class="reglas-title">DOS REGLAS BÁSICAS</p>
      <p class="reglas-list">I- Si en el proceso te arrepentís<br>o no podés participar avisale<br>al creador para que no cuente<br>con vos.<br><br>
        II- Evitá sumarte si no estás seguro o segura!</p>
    </div>
  </div>

-->

   <!-- Partners provisorio // -->
   <div class="que-es-winwins" style="background: #fff;" layout="column" layout-align="space-around center">
    <div class="items-que-es" layout="row" layout-xs="column" layout-align="center center">
      <div class="item-sponsor" layout="column" layout-align="center center">
      
    <h1><i class="fa fa-lightbulb-o" aria-hidden="true"></i> IDEAS PARA UN WINWIN </h1>
<div class="ideas-content">
        <br>
        Preguntate
        <br>
        <br>
        Qué necesidades tiene mi mundo?<br>Qué podemos hacer para mejorar?<br>Que estaría bueno realizar?<br>Qué me interesa hacer?<br><br>Empezá por casa, tu barrio, tu escuela<br>
        la facultad, la plaza, el país, y llegá al mundo.<br>Planteate algo simple, para seguir hacia<br>desafíos más grandes.<br><br>También podés buscar ideas en la web<br>
        y replicar Winwins en tu barrio o ciudad.
      </div>
      </div>
      <div class="item-sponsor" layout="column" layout-align="center center">
   <h1><i class="fa fa-group"></i> LA REGLA DEL QUORUM </h1>
    <h2> Quorum necesario </h2>
   Los winwins requieren un quorum minimo participacion.
       <h2> Quorum necesario </h2>
         Si se cumple el quorum, considera que los participantes cuentan con vos.
    <h2> Quorum alcanzado </h2>
           Si ese quorum no se alcanza, no hay compromisos de participar.<br>
      </div>
      <div class="item-sponsor" layout="column" layout-align="center center">
            <h1> <i class="fa fa-code" aria-hidden="true"></i> CODIGO DE HONOR </h1>
    <p>
      1- Evitá sumarte si no estás seguro!<br><br>
      2- Si en el proceso te arrepentís o no podés <br>participar avisale al creador para que no cuente con vos.<br><br>
      3- Si pensas que un Winwin va en contra de <br>nuestros terminos y condiciones, reportalo.</p><br><br>
      </div>
    </div>
  </div>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100%" height="100%" viewBox="0 0 595.28 25.882" enable-background="new 0 0 595.28 25.882" xml:space="preserve"style="margin-top: -10px;">
<rect x="-1.985" y="1.008" transform="matrix(-1 2.780755e-005 -2.780755e-005 -1 591.311 36.3599)" fill="#F1F1F1" width="100%" height="100%" />
<polygon fill="#fff" points="-1.985,0.017 593.295,0 -1.984,24.135 "/>
<polygon fill="#3C66B0" points="594.28,26.059 -4.25,26.076 594.28,1.589 "/>
</svg>


  <div class="que-es-winwins" layout="column" layout-align="space-around center">
    <p class="title-que-es">¿QUÉ ES WINWINS.ORG?</p>
    <div class="items-que-es" layout="row" layout-xs="column" layout-align="center center">
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img1" src="assets/images/redsocialwinwin.png">
        <p class="item-title">UNA RED SOCIAL</p>
        <p class="item-info">Winwins es una red social para<br>
        conectarnos y coordinar<br>voluntades e intereses reales<br>
        Es una oportunidad para<br>empoderarnos como lideres de<br>
          nuestro entorno creando desafios<br>de accion colectiva a los que<br>llamamos Winwins.</p>
      </div>
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/todosganamos.png">
        <p class="item-title">DONDE TODOS<br>GANAMOS</p>
        <p class="item-info">Es una red que conecta Instituciones<br>
        y causas (particulares y colectivas)<br>con potenciales sponsors y<br>
        colaboradores para llevarlas al plano<br>de lo real sobre un paradigma fértil<br>
        en el que todos ganamos.</p>
      </div>
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/comofunciona.png">
        <p class="item-title">¿COMO FUNCIONA?</p>
        <p class="item-info">Todos podemos crear un desafío<br>Winwin. Todos podemos<br>comprometernos a participar.<br><br>
        Si no se cumple el quórum de<br>personas planteado para un desafío<br>no hay obligación de participar.</p>
      </div>
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/filosofia.png">
        <p class="item-title">FILOSOFÍA</p>
        <p class="item-info">Si sabemos que otras personas se<br>comprometen a hacer algo, vamos<br>
        a sentir mas seguridad y entusiasmo<br>de participar.<br><br>
        Cambiar el mundo es posible, si nos<br>ponemos de acuerdo.</p>
      </div>
    </div>
  </div>


<div layout="row" class="comunidad"layout-wrap>
  <div flex="60">   <iframe width="100%" height="450px" ng-src="{{ main.getIframeSrc('SDdGYotJ4-E') }}" frameborder="0" allowfullscreen style="width: 80%;" ></iframe></div>
  <div flex="40" class="comunidad-txt"> Si existe una comunidad de personas,
       instituciones, empresas, organizaciones e
       accionando en conjunto
      sus misiones.<br><br>
      ¿Podemos construir un mundo mejor?<br>
      Nuestra respuesta es Si.</div>
  </div>


    <!-- Partners provisorio // -->
   <div class="que-es-winwins" layout="column" layout-align="space-around center">
    <p class="title-que-es">ALGUNAS DE LAS ORGANIZACIONES <br> QUE CONSTRUYEN JUNTO A WINWINS</p>
    <div class="items-que-es" layout="row" layout-xs="column" layout-align="center center">
      <div class="item-sponsor" layout="column" layout-align="center center">
      <img src="http://thumbor.dev-winwins.net/200x110/smart/humanet-sponsor.png">
      </div>
      <div class="item-sponsor" layout="column" layout-align="center center">
 <img src="http://thumbor.dev-winwins.net/200x110/smart/corbo-sponsor.png">
      </div>
      <div class="item-sponsor" layout="column" layout-align="center center">
        <img src="http://thumbor.dev-winwins.net/200x110/smart/otromundo-sponsor.png">
      </div>
    </div>
        <div class="items-sponsor" layout="row" layout-xs="column" layout-align="center center">
      <div class="item-sponsor" layout="column" layout-align="center center">
      <img src="http://thumbor.dev-winwins.net/200x110/smart/camba-sponsor.png">
      </div>
      <div class="item-sponsor" layout="column" layout-align="center center">
 <img src="http://thumbor.dev-winwins.net/200x110/smart/chicas-sponsor.png">
      </div>
      <div class="item-sponsor" layout="column" layout-align="center center">
        <img src="http://thumbor.dev-winwins.net/200x110/smart/perian-sponsor.png">
      </div>
    </div>
  </div>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100%" height="100%" viewBox="0 0 595.28 25.882" enable-background="new 0 0 595.28 25.882" xml:space="preserve"style="margin-top: -10px;">
<rect x="-1.985" y="1.008" transform="matrix(-1 2.780755e-005 -2.780755e-005 -1 591.311 36.3599)" fill="#F1F1F1" width="100%" height="100%" />
<polygon fill="#3C66B0" points="-1.985,0.017 593.295,0 -1.984,24.135 "/>
<polygon fill="#f1f1f1" points="594.28,26.059 -4.25,26.076 594.28,1.589 "/>
</svg>

    <!-- Testimonials // -->
 <div class="testimonial-container">
<div class="testimonial">
 <h1>"Nuestra utopia es lograr un gran acuerdo humano, para crear juntos un planeta donde todos podemos vivir mejor y ser mas felices"</h1>
 <br>
 <p>Javier Alvarez <p>
  <h3>Humanet</h3>

    </div>
  </div>


<iframe src="http://linkway.me/winwins/social/example_6.html" frameborder="0" height="800px" scrollbar="no"> </iframe>
<!--Float button scroll up 

  <div flex class="scroll-top">
    <md-button class="scroll-top-button" scroll-top  scroll href="#header" du-smooth-scroll ng-class="{scrollFixed:boolChangeClass}" hide-xs>
      <md-icon md-svg-src="assets/images/icon-arrow-up.svg" aria-label="subir"></md-icon>{{$windows.crolly}}
    </md-button>
  </div>
-->
  <a href="#" style="width:90px; height:90px; background: #f60; border: solid 7px white; border-radius: 50%; display: block; margin-left:auto;margin-right:auto; margin-bottom: -90px; z-index: 999;"><i class="fa fa-chevron-up" style="font-size: 50px;
color: white;
margin: 18px;"></i></a>
   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100%" height="100%" viewBox="0 0 595.28 25.882" enable-background="new 0 0 595.28 25.882" xml:space="preserve" style="margin-top:-20px; margin-bottom: -10px;">
<rect y="-8.471" fill="#F1F1F1" width="100%" height="100%"/>
<polyline fill="#3C66B0" points="0,5.647 0,25.882 297.64,25.882 595.28,25.882 595.28,5.647 297.64,22.02 "/>
</svg>
   <div class="footer-v"  hide-xs flex layout="column" layout-align="space-around center" style="margin-bottom: 40px;"> 
   <!-- Partners provisorio // -->
   <div class="bottom-logo" layout="column" layout-align="space-around center">
    <div class="items-que-es" layout="row" layout-xs="column" layout-align="center center">
    
      <div class="item-footer" layout="column" layout-align="center center"><br>
        <img class="footer-logo" src="http://dev-winwins.net/assets/images/logo.svg">
<div class="footer-buttons layout-xs-column layout-align-center-center layout-row" layout="row" layout-align="center center" layout-xs="column">
    <button class="social-footer-icons" type="button" aria-label="Que Hacemos"><span class="ng-scope"> <i class="fa fa-facebook"></i> </span></button>
    <button class="social-footer-icons" type="button" aria-label="Manifiesto"><span class="ng-scope"> <i class="fa fa-twitter"></i> </span></button>
    <button class="social-footer-icons" type="button" aria-label="Equipo"><span class="ng-scope"> <i class="fa fa-instagram"></i> </span></button>
    <button class="social-footer-icons" type="button" aria-label="Qué es Winwins?"><span class="ng-scope"> <i class="fa fa-google"></i> </span></button>
  </div>
      </div>
  


    </div>
  </div>


  </div>

  <!-- Responsive a 4 columnas roto //
  <section class="partners" layout="column" layout-align="center center">
   <span class="title">ALGUNAS DE LAS ORGANIZACIONES CONSTRUYEN JUNTO A WINWINS
   </span>
    <div class="partners-list" ng-repeat="item in main.partners" layout="row" layout-xs="column" layout-align="space-around center">
      <img class="partners-image" ng-src="{{main.imageServer}}/200x110/smart/{{item.cover_photo}}" alt="{{item.name}}" title="{{item.name}}">
    </div>
  </section>
  -->



<div hide-xs flex>
  <acme-footer items="main.footer" style="position: fixed; bottom: 0px; width:100%; z-index: 9999"></acme-footer>
</div>
</div>
