<div class="main-container" layout="column">
  <div class="header-container" layout="column" layout-align="space-around center">
    <div class="texto-utopia">"Nuestra utopía es lograr un gran<br>acuerdo humano, para crear juntos<br>un planeta donde todos podemos<br>vivir mejor, y ser mas felices."</div>
    <md-button class="btn-orange-main-login" ng-show="!main.isAuthenticated()" ng-click="main.showLoginDialog()">SÉ PARTE, SUMATE.</md-button>
    <md-button class="facebook-login" ng-show="!main.isAuthenticated()" ng-click="main.showLoginDialog()">o ingresa con Facebook</md-button>
    <md-icon class="arrow-down" href="#video-container" du-smooth-scroll>keyboard_arrow_down</md-icon>
  </div>

  <div id="video-container">
    <iframe width="760px" height="760px" ng-src="{{ main.getIframeSrc('SDdGYotJ4-E') }}" frameborder="0" allowfullscreen ></iframe>
  </div>

  <acme-highlighted items="main.destacados" title="false" icon="'icon-concretados'" viewmore="false" seeDescription="false" loading="main.loadingDestacados" class="index-winwins">
  </acme-highlighted>


  <div class="como-funciona" layout="column" layout-align="space-around center">
    <div layout="column" layout-align="center center">
    <p class="funciona-titulo">ASÍ FUNCIONA</p>
    <p class="funciona-subtitulo">PEQUEÑOS CAMBIOS INDIVIDUALES,<br>GRANDES CAMBIOS COLECTIVOS</p>
    </div>
    <div class="flujo-funcionamiento" layout="row" layout-xs="column">
      <div class="crea-flujo" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="crea-title">1-CREA O UNITE<br>A UNA CAUSA WINWIN</p>
        <p class="crea-subtitle">Tu imaginación es el límite</p>
        <p class="crea-info">Construí creando nuevas ideas y acciones<br>sociales para que todos ganemos.<br><br>
        Creá o sumaté en 30 segs y comenzá a jugar un juego,<br>dónde todos ganamos mejorando el mundo. Súmate.</p>
        <md-button class="btn-orange-main" ng-click="$root.createWinwin()">CREAR UN WINWIN</md-button>
      </div>
      <div class="participa-flujo" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="participa-title">2-PARTICIPA DE LA ACCIÓN,<br>SUMA IDEAS Y PERSONAS</p>
        <p class="participa-subtitle">El poder es nuestro</p>
        <p class="participa-info">Compartí tu desafio al mundo a través de las<br>redes sociales y la difusión en Internet.<br><br>
          Sé un lider social, empoderado inmediatamente<br>por otras personas y por winwins.org</p>
        <md-button class="btn-orange-main" ui-sref="home.winwin-list()">BUSCAR WINWINS</md-button>
      </div>
      <div class="mejora-flujo" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="mejora-title">3-MEJORA EL MUNDO</p>
        <p class="mejora-subtitle">Con tu acción todos ganamos.</p>
        <p class="mejora-info">Un im, por más mínimo o pequeño que sea<br><br>
          Con tus ideas, tu compromiso y la acción<br>conjunta de todos, juntos ganamos.</p>
        <md-button class="btn-orange-main">CASOS DE IMPACTO</md-button>
      </div>
    </div>
  </div>
  <div class="que-es-winwins" layout="column" layout-align="space-around center">
    <p class="title-que-es">¿QUÉ ES WINWINS?</p>
    <div class="items-que-es" layout="row" layout-xs="column" layout-align="center center">
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img1" src="assets/images/winwin.png">
        <p class="item-title">UNA RED SOCIAL</p>
        <p class="item-info">Winwins es una red social para<br>
        conectarnos y coordinar<br>voluntades e intereses reales<br>
        para concretar acciones<br>generadoras de valor social.<br><br>
        Es una oportunidad para<br>empoderarnos como lideres de<br>
          nuestro entorno creando desafios<br>de accion colectiva a los que<br>llamamos Winwins.</p>
      </div>
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="item-title">DONDE TODOS<br>GANAMOS</p>
        <p class="item-info">Es una red que conecta Instituciones<br>
        y causas (particulares y colectivas)<br>con potenciales sponsors y<br>
        colaboradores para llevarlas al plano<br>de lo real sobre un paradigma fértil<br>
        en el que todos ganamos.</p>
      </div>
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="item-title">¿COMO FUNCIONA?</p>
        <p class="item-info">Todos podemos crear un desafío<br>Winwin. Todos podemos<br>comprometernos a participar.<br><br>
        Si no se cumple el quórum de<br>personas planteado para un desafío<br>no hay obligación de participar.</p>
      </div>
      <div class="item" layout="column" layout-align="center center">
        <img class="crea-img" src="assets/images/winwin.png">
        <p class="item-title">FILOSOFÍA</p>
        <p class="item-info">Si sabemos que otras personas se<br>comprometen a hacer algo, vamos<br>
        a sentir mas seguridad y entusiasmo<br>de participar.<br><br>
        Cambiar el mundo es posible, si nos<br>ponemos de acuerdo.</p>
      </div>
    </div>
  </div>
  <div class="reglas-quorum" layout="row" layout-xs="column" layout-align="center center">
    <div class="reglas-container" layout="column" layout-align="space-around center">
      <p class="reglas-info">El cambio social lo podemos llevar adelante<br>sólo si hay compromiso de utilizar la virtualidad<br>
        para pasar a la realidad.</p>
      <p class="reglas-title">DOS REGLAS BÁSICAS</p>
      <p class="reglas-list">I- Si en el proceso te arrepentís<br>o no podés participar avisale<br>al creador para que no cuente<br>con vos.<br><br>
      II- Evitá sumarte si no estás seguro o segura!</p>
    </div>
    <div class="quorum-wrapper" layout="column" layout-align="space-around center">
      <div layout="row" layout-align="space-around center" class="quorum-container" style="border: none">
        <md-icon class="quorum-icon" md-svg-src="assets/images/quorum_ico.svg"></md-icon>
        <div class="quorum-necesario" layout="column">
          <div class="quorum-box-title">
            Quorum necesario
          </div>
          <div class="quorum-box-title-divider"></div>
          <div class="quorum-box-subtitle">
            Los winwins requieren un quorumminimo participacion.
          </div>
          <span class="quorum-box-footer"> <strong>
             (Cuando se logra, le avisamos a todos)</strong>
           </span>
        </div>
      </div>
      <div layout="row" layout-align="space-around center" class="quorum-container">
        <md-icon class="quorum-icon" md-svg-src="assets/images/sin_quorum_ico.svg"></md-icon>
        <div class="no-quorum" layout="column">
          <span class="quorum-box-title">
           Quorum no alcanzado
          </span>
          <div class="quorum-box-title-divider"></div>
          <span class="quorum-box-subtitle">
           Si ese quorum no se alcanza,no hay compromisos de participar.
         </span>
          <span class="quorum-box-footer"> <strong>
           (Asi, nadie queda pagando)</strong>
         </span>
        </div>
      </div>
      <div layout="row" layout-align="space-around center" class="quorum-container">
        <md-icon class="quorum-icon" md-svg-src="assets/images/con_quorum_ico.svg"></md-icon>
        <div class="con-quorum" layout="column">
            <span class="quorum-box-title">
         Quorum alcanzado
       </span>
          <div class="quorum-box-title-divider"></div>
          <span class="quorum-box-subtitle">
         Si se cumple el quorum, considera que los participantes cuentan con vos.
       </span>
          <span class="quorum-box-footer"><strong>
         (No te sumes si no estas seguro)</strong>
       </span>
        </div>
      </div>
    </div>
  </div>
</div>