<md-content class="acme-contador" class="hide show-gt-sm">
  <div class="container">
    <div layout-gt-xs="row" layout-align="space-around center">
      <div flex>
        <md-icon md-svg-src="assets/images/counter-winwin-icon.svg"></md-icon>
        <h2 class="orange">WINWINS</h2>
        <p class="counters-section-subtitles">Son desafios positivos que, en equipo, se hacen realidad</p>
        </br>
      </div>
      <div flex>
        <md-icon md-svg-src="assets/images/group-icon.svg"></md-icon>
        <h2 class="group-counter-title">GRUPOS</h2>
        <p class="counters-section-subtitles"> 
          <translate>Son personas como vos, dialogando y decidiendo sobre intereses comunes</translate>
        </p>
      </div>
      <div flex>
        <md-icon md-svg-src="assets/images/counter-sponsors-icon.svg"></md-icon>
        <h2 class="sponsor-counter-title" translate>SPONSORS</h2>
        <p class="counters-section-subtitles">
          <translate>Son organizaciones que pueden apoyar un desafio Winwin o un Grupo</translate>
        </p>
      </div>
    </div>
  </div>
</md-content>
