<md-content class="group-list">
  <div class="container" layout="column"></div>
  <div layout="column" class="title-container" layout-align"center center" layout-margin>
    <span class="title" ng-if="vm.title">
      {{ vm.title }}
    </span>
    <span class="subtitle" ng-if="vm.title">
      <translate>Usuarios unidos para buscar personas y recursos en pos de nuevos winwins</translate>
    </span>
  </div>
  <div layout="row" layout-wrap layout-margin layout-xs="column" layout-align="space-around center" class="groups-container">
    <div ng-repeat="item in vm.items">
      <md-card ui-sref="home.grupo-profile({groupId: item.id})">
        <md-card-content>
          <div class="wrap-md-card-img">
            <img ng-src="{{ vm.imageServer }}/315x/{{ item.photo }}" alt="" class="md-card-img"/>
          </div>
          <md-card-title-text layout-align="center center" layout="column">
            <md-button class="md-headline">{{ item.name }}</md-button>
          </md-card-title-text>
        </md-card-content>
        <md-card-actions layout="row" layout-align="space-between center">
          <div layout="row" layout-align="end center">
            <div class="card-members"><translate>Somos</translate> <strong>{{ item.users_already_joined }}</strong></div>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <md-button ng-show="vm.viewmore" ui-sref="home.grupo-list" class="ver-todos" arial-label="see all">{{ 'Ver todos' | translate }}</md-button>
  </div>
</md-content>