.acme-navbar-text{
  color: white;
}
header {
	md-toolbar {
		z-index: 50;
	}
}

.menu {
	width: 100%;
}

@media (min-width: 600px) {
	.menu {
		width: 580px;
	}
}


@media (min-width: 960px) {
	.menu {
		width: 900px;
	}
}

@media (min-width: 1280px) {
	.menu {
		width: 970px;
	}
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #0d47a1;
  min-height: 50px;
  height: 50px;
	font-size: 14px;
  box-shadow: 0px 2px 2px rgba(0,0,0,.4);
  position: fixed;
  .menu-notifications {
  	position: relative;
	  .badge {
	  	position: absolute;
	  	width: 17px;
	  	height: 17px;
	  	border-radius: 100px;
	  	color: #fff;
	  	text-align: center;
	  	background: #e5452e;
			right: 3px;
			top: 6px;
			font-size: 11px;
	    line-height: 17px;
	  }
  }
  .md-primary.menu-toggle {
  	min-width: 38px;
  	margin-right: 0;
  }
}

header {
	.menu {
		> div {
			&.crear {
				margin: 0 25px;
				line-height: 14px;
				margin-top: 4px;
				a {
					background: #e5452e;
					border-radius: 3px;
					display: inline-block;
					padding: 5px 8px;
					font-weight: 700;
					&:hover {
						background: #fb3e22;
					}
				}
			}
			.logo-md {
				text-align: center;
				position: absolute;
				right: 0;
				left: 0;
				margin: 0 auto;
				top: 8px;
				width: 130px;
				padding: 0;
				a {
					padding: 0;
				}
				a:hover {
					background: none;
				}
			}



			md-card-avatar {
				margin: 0;
			}
		}

		.space-left {

			width: 100%;

			.md-button {
				margin: 0px;
			}

			.create-winwin-button.md-button.md-ink-ripple {
				line-height: 36px;
			}

			.avatar-button.md-button.ng-scope.md-ink-ripple {
				min-width: auto;
			}

			.create-winwin-button {
		      font: 100% $mainHomeFont;
		      font-size: 13px;
		      color: #fefefe;
		      background-color: #00b285;
			}

			.register-button {
				background-color: #3c6cc1;
				color: #fefefe;
				font-size: 13px;
        line-height: 36px;
				margin-right: 10px;
				padding-right: 18px;
				padding-left: 5px
			}
		}

		@media (min-width: 600px) {
			.space-left {
				width: initial;
				.md-button {
					margin: 6px 8px;
				}
			}

		}

		.md-primary.md-button.menu-toggle {
			.ng-scope {
				color: #fff;
			}
		}
		md-card-header .md-button.md-ink-ripple {
		    .md-user-avatar {
		    	margin-top: 5px;
		    	vertical-align: middle;
		    }
		}
		md-switch {
    	margin: 0 0 0 10px;
    	.md-bar {
    		background: #4a6dce;
    	}
    	.md-thumb {
    		background: #d9dadb;
    	}
		}
		md-input-container {
			margin: 0;
			border-radius: 3px;
			background-color: #3c6cc1;
			color: #fefefe;


			@media (min-width: 960px) {
				padding-left: 0;
				margin-left: 15px;
			}
			
			.md-input {
				background: none;
				border:none;
				color: #99bce4;
				font-family: 'Montserrat', serif;
				width: 120px;
				padding-left: 0px;
			}

			@media (min-width: 960px) {
				.md-input {
					width: 210px;
					padding-left: 15px;
				}
			}

			.md-input::-webkit-input-placeholder { color: #99bce4; }
			.md-input:-moz-placeholder { color: #99bce4; }
			.md-input::moz-placeholder { color: #99bce4; }
			.md-input:-ms-input-placeholder { color: #99bce4; }
			&.md-input-has-placeholder .md-input {
				color: #99bce4;
			}
			.md-errors-spacer {
				display: none;
			}
			md-icon {
				left: inherit;
				cursor: pointer;
				right: 0;
				margin-right: 15px;
			}
			&.md-input-has-placeholder .material-icons {
				color: #fff;
			}
		}
	}
	.md-user-avatar {
		width: 36px;
		height: 36px;
		border-radius: 100px;
		vertical-align: middle;
	}
	.menu.show-sm, .menu.show-gt-sm, .menu.show-md {
		width: 100%;
	}
	.menu.hide.show-gt-sm {
		max-width: 970px;
		.menu-notifications {
			margin-right: 60px;
		}
		md-card-header {
			margin-right: 50px;
		}
	}
	.menu.show-md .flex-45 {
		text-align: center;
	}
	.md-sidenav-left {
		background: #1565c0;
		.layout-padding {
			background: #1565c0;
			padding: 0;
			.menu {
				padding: 25px 0 0 0;
				>div {
					md-icon {
						margin: -3px 20px 0 0;
					}
					a {
						display: block;
						text-align: left;
						color: #fff;
						padding: 17px 25px;
						margin: 0;
						font-weight: 700;
						&:hover {
							background: #eb6a24;
						}
					}
					md-input-container {
						margin-left: 25px;
					}
					.search-icon {
						margin: 0;
					}
				}
			}
		}
	}
}

md-sidenav {
	md-toolbar.md-theme-indigo {
		box-shadow: none;
		height: 221px;
		border-bottom: solid 3px #eb6a24;
		position: relative;
		.md-user-avatar {
			width: 100px;
			height: 100px;
		}
		.md-headline {
			font-weight: 700;
		}
		.card-wrap {
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: #fff;
	    right: 0;
	    .card-wrap-img {
	    	width: 100%;
	    	height: 218px;
	    	overflow:hidden;
        img {
          width: 100%;
          height: 100%;
        }
	    }
      .card-opacity {
        background: rgba(34,35,38,.4);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    md-card-avatar, md-card-title {
    	z-index: 30;
    }
	}
}

.md-accent {
	margin-top: 50px;
	text-align: center;
}
.beta {
  background: #ea6a23 none repeat scroll 0 0;
  left: -41px;
  padding: 34px 39px 8px;
  position: absolute;
  top: -34px;
  transform: rotate(-38deg);
  box-shadow: 5px 1px 10px #000;;
  font-size: 17px;
  font-family: 'Pacifico', cursive;

}