<div layout-align="column" >
<md-toolbar md-scroll-shrink lg="true"  layout-align="center center" layout="row">
	<div class="menu hide-xs" layout="row" layout-align="space-between center">
	  	<div layout="row" layout-align="center center">
	<!-- 					<div>
					<span>ES</span>
				</div>
				<div>
					<md-switch ng-model="vm.langState" aria-label="Switch 1" ng-change="vm.onChange('changeLang', vm.langState)"></md-switch>
				</div>
				<div>
					<span>ENG</span>
				</div> -->
			<div>
				<md-input-container md-no-float class="md-block">
				  	<input ng-model="vm.search_query" enter="vm.search()" placeholder="{{ 'Buscar' | translate }}">
				  	<md-icon ng-click="vm.search()">search</md-icon>
				</md-input-container>
			</div>
		</div>
	    <div>
	    	<a href="#" class="logo-md"><img src="../assets/images/logo.svg" alt="" /></a>
	    </div>
		<div class="seccion space-left" layout="row" layout-align="space-around center">
			<md-button class="md-icon-button menu-notifications" aria-label="Login" ng-if="vm.isAuthenticated()" ng-click="vm.showNotificationsDialog()">
				<md-icon>notifications</md-icon>
				<span class="badge" ng-show="(vm.notifications | filter:{is_read:0}).length > 0">
					{{(vm.notifications | filter:{is_read:0}).length }}
				</span>
			</md-button>

			<md-button class="md-primary register-button" ng-if="!vm.isAuthenticated()" ng-href ng-click="vm.showLoginDialog()">
				<translate><i class="fa fa-sign-in"></i> Ingresar</translate>
			</md-button>

			<md-button class="avatar-button" ng-if="vm.isAuthenticated()" ui-sref="home.public-profile({userId: vm.account.id})" aria-label="avatar">
				<md-card-avatar>
					<img class="md-user-avatar" ng-src="{{vm.imageServer}}/80x80/{{vm.account.photo}}">
				</md-card-avatar>
			</md-button>
						<md-button class="md-primary create-winwin-button" hide-sm ng-click="$root.createWinwin()">
				<translate><strong>+ CREAR WINWIN</strong></translate>
			</md-button>
			<md-button ng-click="vm.openLeftMenu()" ng-if="vm.isAuthenticated()" class="md-primary menu-toggle">
	    		<md-icon>menu</md-icon>
	  		</md-button>
		</div>
	</div>
	<div class="menu hide show-xs">
		<div layout="row">
			<div layout="row">
				<md-button class="md-icon-button" ng-click="vm.back" alt="Back"><md-icon>keyboard_arrow_left</md-icon></md-button>
			</div>
			<div>
				<a href="#" class="logo-md"><img src="../assets/images/logo.svg" alt="" /></a>
			</div>
			<div class="seccion space-left" layout="row" layout-align="end center">
				<md-button class="md-icon-button menu-notifications" aria-label="Login" ng-if="vm.isAuthenticated()" ng-click="vm.showNotificationsDialog()">
					<md-icon>notifications</md-icon>
					<span class="badge" ng-show="(vm.notifications | filter:{is_read:0}).length > 0">
						{{(vm.notifications | filter:{is_read:0}).length }}
					</span>
				</md-button>
				<md-button ng-if="!vm.isAuthenticated()" class="md-primary" ng-href ng-click="vm.showLoginDialog()">
					<md-icon md-svg-src="assets/images/icon-entrar.svg"></md-icon>
				</md-button>
				<md-button ng-show="vm.isAuthenticated()" ng-click="vm.openLeftMenu()" class="md-primary menu-toggle">
					<md-icon>menu</md-icon>
				</md-button>
			</div>
		</div>
	</div>
<!--  <div class="beta">beta</div> -->
</md-toolbar>
<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-disable-backdrop
    md-whiteframe="4">
  <md-toolbar class="md-theme-indigo" layout-align="center center" ng-if="vm.isAuthenticated()">
  	<div class="card-wrap">
      <div class="card-wrap-img"><img ng-src="{{vm.imageServer}}/{{vm.account.cover_photo}}" alt="" class="md-card-image" /></div>
      <span class="card-opacity"></span>
    </div>
		<md-card-avatar>
			<md-button ui-sref="home.public-profile({userId: vm.account.id})" aria-label="avatar" ng-click="vm.openLeftMenu()">
				<img class="md-user-avatar" ng-src="{{vm.imageServer}}/{{vm.account.photo}}">
			</md-button>
		</md-card-avatar>
		<md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{'Hola,'| translate}} {{vm.account.name}}!</span>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-content layout-padding>
    <div layout="column" class="menu">
    	<div class="hide-gt-sm">
    	<md-input-container md-no-float>
          <input ng-model="vm.search_query" enter="vm.openLeftMenu(); vm.search();" placeholder="{{'Buscar' | translate}}">
          <md-icon class="search-icon" ng-click="vm.search()">search</md-icon>
        </md-input-container></div>
			<div>
				<md-button class="md-primary" ui-sref="home.winwin-list" ng-click="vm.openLeftMenu()"><md-icon md-svg-src="assets/images/icon-cuenta.svg"></md-icon><translate>Ver Winwins</translate></md-button>
			</div>
			<div>
				<md-button class="md-primary" ui-sref="home.crear-winwin" ng-click="vm.openLeftMenu()" ng-if="vm.isAuthenticated()"><md-icon md-svg-src="assets/images/icon-crear-winwins.svg"></md-icon><translate> Crear Winwin</translate></md-button>
				<md-button class="md-primary" ng-href ng-click="vm.openLeftMenu(); vm.showLoginDialog('home.crear-winwin');" ng-if="!vm.isAuthenticated()"><md-icon md-svg-src="assets/images/icon-crear-winwins.svg"></md-icon><translate> Crear Winwin</translate></md-button>
			</div>
			<div>
				<md-button class="md-primary" ui-sref="home.grupo-list" ng-click="vm.openLeftMenu()"><md-icon md-svg-src="assets/images/icon-cuenta.svg"></md-icon><translate>Ver Grupos</translate></md-button>
			</div>
			<div>
				<md-button class="md-primary" ui-sref="home.grupo-creacion" ng-click="vm.openLeftMenu()" ng-if="vm.isAuthenticated()"><md-icon md-svg-src="assets/images/icon-crear-winwins.svg"></md-icon><translate> Crear Grupo</translate></md-button>

				<md-button class="md-primary" ng-href ng-click="vm.openLeftMenu(); vm.showLoginDialog('home.crear-winwin');" ng-if="!vm.isAuthenticated()"><md-icon md-svg-src="assets/images/icon-crear-winwins.svg"></md-icon><translate> Crear Grupo</translate></md-button>
			</div>
			<div><md-button class="md-primary" ui-sref="home.miembros" ng-click="vm.openLeftMenu()"><md-icon md-svg-src="assets/images/icon-miembros.svg"></md-icon><translate> Miembros</translate></md-button></div>
			<div ng-if="vm.isAuthenticated()"><md-button class="md-primary" ui-sref="home.profile" ng-click="vm.openLeftMenu()"><md-icon md-svg-src="assets/images/icon-perfil.svg"></md-icon><translate>Editar Perfil</translate></md-button></div>
			<div ng-if="vm.isAuthenticated()"><md-button class="md-primary" ng-href="#" ng-click="vm.openLeftMenu(); vm.logout();"><md-icon md-svg-src="assets/images/icon-salir.svg"></md-icon><translate> Salir</translate></md-button></div>
	  </div>
  </md-content>
</md-sidenav>
	<div>
<md-toolbar class="md-accent notice" ng-class="{ true: 'green', false: 'warning' }[ vm.sentActivationMail ]" layout="row" layout-align="center center" ng-show="!vm.isActive && profile.userId != null" style="height: 75px;">
  <p>
    <md-icon md-svg-src="assets/images/icon-error.svg"></md-icon> <strong translate>ACTIVA TU CUENTA</strong> - {{ 'Te enviamos un correo a' | translate }} {{vm.account.email}}.
	  <span ng-show="!vm.sentActivationMail">{{ 'No te llegó? Hace' | translate }}</span>
	  <a href ng-click="vm.resendActivationMail()" translate ng-show="!vm.sentActivationMail" ng-disabled="loadingFlag">clic para reenviartelo.</a> <span ng-show="vm.sentActivationMail">{{ 'Te reenviamos el mail.' | translate }}</span>
  </p>
</md-toolbar>
	</div>
</div>
