<md-dialog-content class="dialog-primary">
  <div class="md-dialog-content">
    <h3 class="title">
      {{ 'NOTIFICACIONES' | translate }}
    </h3>
    <md-list>
      <md-list-item  ng-switch on="notification.type" ng-repeat="notification in vm.notifications">
        <div ng-switch-when="WW_SUCCESSFUL">
          {{notification.object.title}} se ha completado con éxito! {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="WW_CREATED">
          Creaste el winwin {{notification.object.title}} {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="WW_JOIN">
          Te uniste a {{notification.object.title}} {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="WW_LEFT">
          Abandonaste {{notification.object.title}} {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="SPONSOR_REQUEST">
          Han solicitado patrocinar a {{notification.object.title}} {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="WW_REQUEST_SPONSOR">
          Han solicitado que patrocines a {{notification.object.title}} {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="CAMPANADA">
          Recibiste una campanada de {{notification.object.title}}: "{{notification.body}}" {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
        <div ng-switch-when="FOLLOWING">
          {{notification.object.username}} comenzó a seguirte {{notification.created_at | moment: 'DD/MM/YYYY'}}
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-dialog-content>