<md-content class="acme-crearwinwin" ng-show="winwin.stage==1">
  <md-toolbar class="md-tall md-crear md-blue" layout="row" layout-align="center center">
    <h2><span translate>CREA TU WINWIN, COMIENZA UNA ACCIÓN  POSITIVA</span></h2>
  </md-toolbar>
  <div class="container">
    <form method="post" name="winwin.crearForm1" ng-submit="winwin.nexStage()" class="form-crear">
      <div layout="column" layout-gt-sm="row" layout-margin layout-padding>
        <div flex>
          <div class="wrap-md-input-container">
            <md-input-container class="md-block">
              <label translate>Nombre para tu winwin</label>
              <div class="wrap-tooltip">
                <span class="icon-help">?</span>
                <div class="tooltip-text" translate>
                  Nombra tu winwin con  un título que lo represente.
                </div>
              </div>
              <input required name="title" ng-model="winwin.winwin.title">
              <div ng-messages="winwin.crearForm1.title.$error">
                <div ng-message="required" translate>No se puede crear un WinWin sin nombre!</div>
              </div>
            </md-input-container>
          </div>
          <div class="wrap-md-input-container">
            <md-input-container class="md-block">
              <p><label translate>Plantea tu winwin</label></p>
              <div class="wrap-tooltip">
                <span class="icon-help">?</span>
                <div class="tooltip-text">
                  <p translate>Indicá primero la cantidad de personas que necesitas para cumplir con el objetivo de este winwin, luego completa la frase con tu propuesta de acción colectiva.</p>

                  <p translate>Procurá ser concreto, preciso y realista acerca de lo que esperás de los participantes, y que el número de adhesiones que pusiste sea acorde a la meta.</p>
                </div>
              </div>
              <div layout="row" layout-align="space-between center">
                <div>
                  <strong class="enfasis" translate>¿Si supieras que somos </strong>
                </div>
                <md-input-container class="md-block">
                  <input class="numero" type="number" min="2" name="users_amount" placeholder="Ej:200" ng-model="winwin.winwin.users_amount"  ng-required="true" ng-minlength="1"/>
                  <div ng-messages="winwin.crearForm1.users_amount.$error">
                    <div ng-message="required" translate>Campo requerido.</div>
                  </div>
                </md-input-container>
                <div>
                  <strong class="enfasis" translate>para</strong>
                </div>
              </div>
              <div layout="column">
                <md-input-container class="md-block">
                  <textarea name="what_we_do" ng-model="winwin.winwin.what_we_do" md-maxlength="250" rows="5" md-select-on-focus required aria-label="what we do"></textarea>
                  <div ng-messages="winwin.crearForm1.what_we_do.$error">
                    <div ng-message="required" translate>Campo requerido.</div>
                  </div>
                </md-input-container>
                <div>
                  <strong class="enfasis" translate>te sumarías?</strong>
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div flex>
          <div class="wrap-md-input-container">
            <md-input-container class="md-block">
              <label translate>Más detalles del Winwin</label>
              <div class="wrap-tooltip">
                <span class="icon-help">?</span>
                <div class="tooltip-text" translate>
                  Acá ingresa información detallada del Winwin, datos e información importante. Lugares, fechas, acciones
  y toda la información que te resulte relevante.
                </div>
              </div>
              <textarea name="description" ng-model="winwin.winwin.description" md-maxlength="1000" rows="5" md-select-on-focus aria-label="description"></textarea>
            </md-input-container>
          </div>
          <div class="wrap-md-input-container">
            <div class="wrap-tooltip">
                <span class="icon-help">?</span>
                <div class="tooltip-text" translate>
                   Algunos Winwins requieren fecha
  límite para su concreción, si el tuyo 
  es uno de ellos, ingresala aquí.
                </div>
              </div>
            <md-datepicker name="closing_date" ng-model="winwin.winwin.closing_date" md-placeholder="20/4/2016"></md-datepicker>
          </div>
          <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox class="green" ng-model="winwin.winwin.terms" name="terms" ng-change="winwin.clearError()">
              {{ 'He leído y acepto los' | translate }} <a ng-href="/#/terms" target="_blank" translate>términos y condiciones</a>.
            </md-checkbox>
            <div ng-messages="winwin.crearForm1.terms.$error" class="help-block" ng-if="winwin.crearForm1.terms.$error.notTerms">
              <p class="small" ng-message="notTerms" translate>Acepta los terminos y condiciones.</p>
            </div>
          </md-input-container>
          <md-button md-no-ink class="md-raised md-primary bt-green md-whiteframe-5dp" ng-disabled="winwin.crearForm1.$invalid" type="submit" name="action" translate aria-label="send">{{ 'CONTINUAR' | translate }}</md-button>
        </div>
      </div> 
    </form> 
  </div>
</md-content>

<md-content class="acme-crearwinwin" ng-show="winwin.stage==2">
  <md-toolbar class="md-tall md-crear md-violet" layout="row" layout-align="center center">
    <h2><md-icon md-svg-src="assets/images/icon-flag.svg"></md-icon><span translate>DALE IDENTIDAD A TU WINWIN</span></h2>
  </md-toolbar>
  <div class="container">
    <form method="post" name="winwin.crearForm2" ng-submit="winwin.saveWinwin()">
      <div layout="column" layout-gt-sm="row" layout-margin layout-padding>
        <div flex>
          <md-card>
            <div class="md-card-wrap"><img ng-src="{{ winwin.preview_image }}"  class="md-card-image" alt=""></div>
            <md-card-title-text layout-align="center center" layout="column">
              <md-button class="md-headline" aria-label="title">{{winwin.winwin.title}}</md-button>
            </md-card-title-text>
          </md-card>
          <div layout="row" layout-align="center center">
            <p class="legend">Subí una foto, elegí un video o una  imagen de la galería.</p>
          </div>
          <div layout="row" layout-align="center center" class="layout-icons">
            <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" flex ng-click="winwin.showCropCoverDialog()">
              <md-icon>photo_camera</md-icon>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" flex ng-click="winwin.showModalVideoPostDialog()">
              <md-icon md-svg-src="assets/images/icon-youtube.svg"></md-icon>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" flex ng-click="winwin.showGaleriaDialog()">
              <md-icon>image</md-icon>
            </md-whiteframe>
          </div>
        </div>
        <div flex>
          <div class="wrap-md-input-container">
            <div layout="row" layout-align="center center">
              <label>Escala del Winwin</label>
              <div class="wrap-tooltip">
                <span class="icon-help">?</span>
                <div class="tooltip-text" translate>Selecciona una escala territorial.
                </div>
              </div>
            </div>
            <div layout="row" layout-align="center center">
              <md-input-container class="md-block">
                <md-select ng-model="winwin.winwin.scope" aria-label="global">
                  <md-option value="GLOBAL">
                    GLOBAL
                  </md-option>
                  <md-option value="LOCAL">
                    LOCAL
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="row" layout-align="center center" ng-show="winwin.winwin.scope == 'LOCAL'">
              <md-input-container class="md-block lugar" aria-label="lugar">
                <input id="winwin_location" name="winwin_location" ng-model="winwin.location_formatted" ng-change="winwin.clearError()">
                <div ng-messages="winwin.crearForm2.winwin_location.$error" class="help-block" ng-if="winwin.crearForm2.winwin_location.$error.notLocation">
                  <p class="small" ng-message="notLocation" translate>Tenés que especificar una ubicación.</p>
                </div>
              </md-input-container>
            </div>
          </div>
          <div class="wrap-md-input-container">
            <div layout="row" layout-align="center center">
              <label translate>Elegí categorías. (Podes elegir más de una.)</label>
              <div class="wrap-tooltip">
                <span class="icon-help">?</span>
                <div class="tooltip-text" translate>Clasifica tu Winwin en las categorías disponibles. Puedes elegir más de una.
                </div>
              </div>
            </div>
            <div layout="row" layout-align="center center">
              <md-input-container>
                <md-select ng-model="winwin.winwin.interests" multiple aria-label="descripcion">
                  <md-optgroup label="vegetables">
                    <md-option ng-value="item" ng-repeat="item in winwin.interests">{{item.description}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <md-button md-no-ink class="md-raised md-primary bt-green md-whiteframe-5dp" type="submit" name="action" ng-disabled="loadingFlag" translate aria-label="send">{{ 'CONTINUAR' | translate }}</md-button>
        </div>
      </div>
    </form> 
  </div>
</md-content>


<md-content class="acme-crearwinwin" ng-show="winwin.stage==3">
  <md-toolbar class="md-tall md-crear md-blue" layout="row" layout-align="center center">
    <h2><md-icon md-svg-src="assets/images/icon-megafono.svg"></md-icon><span translate>Difundí tu Winwin</span></h2>
  </md-toolbar>
  <div class="container">
    <div layout="column" layout-align="center center" class="comparti">
      <h2 translate>Compartí tu Winwin</h2>
      <p translate>en las redes sociales y sumá personas para concretarlo!</p>
    </div>
    <div layout="row" layout-align="center center" layout-margin class="comparti-social-media">
      <div
        socialshare
        socialshare-provider="facebook" 
        socialshare-text="{{winwin.winwin.title}}" 
        socialshare-url="{{winwin.base}}/ww/{{winwin.winwin.id}}"  
        socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
        socialshare-via="{{winwin.facebookId}}">
        <md-icon md-svg-src="assets/images/icon-facebook-share.svg" ng-href="#" target="_blank"></md-icon>
      </div>
      <div
        socialshare  
        socialshare-text="{{winwin.winwin.title}}" 
        socialshare-url="{{winwin.base}}/ww/{{winwin.winwin.id}}" 
        socialshare-provider="twitter">
        <md-icon md-svg-src="assets/images/icon-twitter-share.svg" ng-href="#" target="_blank"></md-icon>
      </div>
      <div
        socialshare 
        socialshare-provider="google" 
        socialshare-text="{{winwin.winwin.title}}" 
        socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
        socialshare-url="{{winwin.base}}/ww/{{winwin.winwin.id}}">
        <md-icon md-svg-src="assets/images/icon-google-share.svg" ng-href="#" target="_blank"></md-icon>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <div layout="column" class="comparti" flex-xs="80" flex="40" ng-show="!winwin.emailsOK">
        <p class="enfasis" translate>Invitá amigos a tu Winwin por email</p>
        <div class="wrap-md-input-container">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Ingresa mails para invitar</label>
            <md-chips ng-model="winwin.mails" md-on-add="winwin.validateMail($chip)">
              <input type="email" length="30" class="validate">
            </md-chips>
            <md-button class="md-fab send" aria-label="send" ng-click="winwin.sentInvitations()" ng-disabled="loadingFlag">
              <md-icon md-svg-src="assets/images/icon-send.svg"></md-icon>
            </md-button>
          </md-input-container>
        </div>
      </div>
      <div layout="column" layout-align="center center" ng-show="winwin.emailsOK">
        <div flex>
          <md-button aria-label="send"><md-icon md-svg-src="assets/images/icon-oks.svg" class="s44"></md-icon></md-button>
        </div>
        <div flex>
          <p class="gray">Las invitaciones fueron enviadas!</p>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <div layout="column" class="comparti" flex-xs="80" flex="40">
        <md-button class="md-raised md-primary md-grey" ui-sref="home.winwin({winwinId: winwin.winwin.id})" aria-label="send">IR AL WINWIN</md-button>
      </div>
    </div>
  </div>
</md-content>


<div layout="column" class="lightbox-crear" ng-if="winwin.stage==4">
  <md-dialog-content>
    <div layout="column" layout-padding layout-margin>
      <h2 translate>Copia el link del video</h2>
      <md-input-container class="md-block">
        <input required name="numero" ng-model="crear.numero" placeholder="Ej: https://www.youtube.com/watch?v=rQxVTFVWNjA">
        <div ng-messages="crearForm.name.$error">
          <div ng-message="required" translate>Campo requerido.</div>
        </div>
      </md-input-container>
    </div>
    <div>
      <img ng-src="assets/images/imagen-video.jpg" alt="" />
    </div>
    <div>
      <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" translate aria-label="send">LISTO</md-button>
        <md-button class="md-raised md-grey" translate aria-label="send">CANCELAR</md-button>
      </md-card-actions>
    </div>
  </md-dialog-content>
</div>

<div layout="column" class="lightbox-crear" ng-if="winwin.stage==4">
  <md-dialog-content class="acme-crearwinwin">
    <div layout="column" layout-align="center center" layout-margin layout-padding class="comparti">
      <md-icon md-svg-src="assets/images/icon-ok.svg" class="icon-big"></md-icon>
      <h3 translate>Genial!</h3>
      <p translate class="enfasis-blue">Compartido en Facebook</p>
      <p><span class="enfasis">Sugerencia:</span> Comparti también en Twitter y Google+</p>
    </div>
    <div layout="row" layout-align="center center" layout-margin class="comparti-social-media">
      <div><md-icon md-svg-src="assets/images/icon-facebook-share.svg" ng-href="#" target="_blank"></md-icon></div>
      <div><md-icon md-svg-src="assets/images/icon-twitter-share.svg" ng-href="#" target="_blank"></md-icon></div>
      <div><md-icon md-svg-src="assets/images/icon-google-share.svg" ng-href="#" target="_blank"></md-icon></div>
    </div>
    <div layout="row" layout-align="center center">
      <div layout="column" class="comparti" flex-xs="80" flex="40">
        <div class="wrap-md-input-container">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Ingresa mails para invitar</label>
            <input required name="name" ng-model="crear.name">
              <div ng-messages="crearForm.name.$error">
                <div ng-message="required" translate>Campo requerido.</div>
            </div>
            <md-button class="md-fab send" aria-label="send">
              <md-icon md-svg-src="assets/images/icon-send.svg"></md-icon>
            </md-button>
          </md-input-container>
        </div>
        <small>Separá los emails con una coma.</small>
      </div>
    </div>
  </md-dialog-content>
</div>

<div layout="column" class="lightbox-crear" ng-if="winwin.stage==4">
  <md-dialog-content class="acme-crearwinwin">
    <div layout="column" layout-align="center center" layout-margin class="comparti">
      <md-icon md-svg-src="assets/images/icon-ok.svg" class="icon-big"></md-icon>
      <h3 translate>Buenísimo!</h3>
      <p class="medium"><em translate>“Un viaje de mil millas comienza con un solo paso.”</em></p>
      <p class="enfasis-blue"><span>Vamos a tu Winwin.</p>
    </div>
  </md-dialog-content>
</div>