<div layout="column" layout-align="center center"  class="lightbox-abandonar">
	<div flex><md-button class="report"><md-icon md-svg-src="assets/images/icon-report.svg"></md-icon></md-button></div>
	<div flex><h2 translate>Atención!</h2></div>
	<div flex><p translate>Estás seguro que deseas cerrar este Winwin?</p></div>
	<form method="post" ng-submit="vm.close()" name="closeForm">
		<div flex>
			<md-input-container flex>
				<label>Contanos tus motivos</label>
				<textarea name="reason" ng-model="vm.reason" required></textarea>
				<div ng-messages="closeForm.reason.$error"class="help-block">
		          <p class="small" ng-message="required" translate>Ingresa un motivo.</p>
		        </div>
			</md-input-container>
		</div>
		<div flex>
			<md-button class="md-raised md-primary md-green" type="submit" name="action" ng-disabled="loadingFlag">{{ 'Cerrar' | translate }}</md-button>
			<md-button class="md-raised md-primary md-gray" ng-click="vm.cancel()">{{ 'Cancelar' | translate }}</md-button>
		</div>
	</form>
</div>