<md-dialog-content class="dialog-primary">
  <div class="md-dialog-content">
    <h3 class="title">
      <md-icon md-svg-src="assets/images/icon-participantes-title.svg"></md-icon>
      {{ 'PARTICIPANTES' | translate }}
    </h3>
    <md-list>
      <md-list-item ng-repeat="participante in vm.users">
        <img alt="" ng-src="{{vm.imageServer}}/smart/{{participante.photo}}" alt=""class="md-avatar" />
        <p>{{participante.username}}</p>
        <md-button ng-show="participante.pivot.moderator == 0" class="md-raised md-warn md-caption" ng-click="vm.makeActivator(participante)">Nombrar activador</md-button>
        <md-button ng-show="participante.pivot.moderator == 1" class="md-raised md-warn md-caption" ng-click="vm.makeNormal(participante)">Nombrar usuario regular</md-button>
      </md-list-item>
    </md-list>
  </div>
</md-dialog-content>    
