<md-content class="acme-winwin">
<!--   <md-toolbar class="md-tall md-crear md-blue" layout="column" layout-align="center center" ng-if="!winwin.winwin.published && winwin.winwin.is_moderator && !winwin.winwin.canceled">
    <h2><md-icon class="icon insert_comment">insert_comment</md-icon></md-icon><span translate>ESCRIBI TU POST INAUGURAL</span>
      <div class="wrap-tooltip">
        <span class="icon-help">?</span>
        <div class="tooltip-text" translate>Inaugura el muro de tu Winwins que motive a otros a sumarse. Podes agregarle un video o una imagen.
        </div>
      </div>
    </h2>
    <p>También podés subir una imagen o un video.</p>
  </md-toolbar> -->
  <div class="container">
    <md-tabs md-dynamic-height>
      <md-tab md-on-select="winwin.show_box_muro = true">
        <md-tab-label>
          <md-icon md-svg-icon="assets/images/icon-comments.svg"></md-icon>
        </md-tab-label>
        <md-tab-body>
          <div layout-gt-sm="row" layout-align="center start" layout-padding layout="column" class="primary-content">
            <div class="col-left">
              <md-card class="md-whiteframe-4dp no-padding">
                <md-card-content>
                  <div class="ribbon" ng-if="winwin.winwin.is_successful"><span>CONCRETADO</span></div>
                  <img ng-src="assets/images/icon-concretado.svg" alt="" class="icon-concretado" ng-if="winwin.winwin.is_successful" />
                  <div class="rate-box" ng-show="false">
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                  </div>
                  <div class="wrap-card-img">
                    <img ng-src="{{winwin.imageServer}}/{{winwin.winwin.image}}" alt="" class="md-card-img" ng-if="!winwin.winwin.is_video"/>
                    <iframe class="embed-responsive-item" ng-src="{{winwin.getIframeSrc(winwin.winwin.video)}}" allowfullscreen="" style="width: 100%;height: 225px;" ng-if="winwin.winwin.is_video"></iframe>
                  </div>
                  <md-card-title-text layout-align="center center" layout="column" hide-gt-sm>
                    <md-button class="md-headline" aria-label="title">{{winwin.winwin.title}}</md-button>
                  </md-card-title-text>
                  <div class="card-labels">
                    <md-icon class="icon icon-access_time" ng-if="winwin.winwin.finishing">access_time</md-icon>
                    <md-icon class="icon icon-watshot" ng-if="winwin.winwin.popular">whatshot</md-icon>
                    <md-icon class="icon icon-highlighted" md-svg-src="assets/images/icon-highlighted.svg" ng-if="winwin.winwin.remarkable">highlighted</md-icon>
                  </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="space-between center">
                  <div flex layout="row" hide show-gt-xs class="card-social-media">
                    <div
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="feed"
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}"
                    socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
                    socialshare-via="{{winwin.facebookId}}">
                      <md-button class="md-icon-button" ng-href aria-label="facebook">
                        <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
                      </md-button>
                    </div>
                    <div
                    socialshare  
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}"
                    socialshare-provider="twitter">
                      <md-button class="md-icon-button" ng-href aria-label="twitter">
                        <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
                      </md-button>
                    </div>
                    <div
                    socialshare 
                    socialshare-provider="google" 
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}">
                      <md-button class="md-icon-button" ng-href aria-label="google">
                        <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
                      </md-button>
                    </div>
                    <div>
                      <md-button class="md-icon-button" ng-href aria-label="email" ng-click="winwin.showModalShareEmailDialog()">
                        <md-icon md-svg-src="assets/images/icon-email.svg"></md-icon>
                      </md-button>
                    </div>
                  </div>
                  <div class="card-numbers">
                    <div layout="row" layout-wrap layout-align="center center">
                      <div class="md-item-text bg-green">
                        <h3 translate>Somos</h3>
                        <p>{{winwin.winwin.users_already_joined}}</p>
                      </div>
                      <div class="md-item-text bg-orange">
                        <h3 translate>Faltan</h3>
                        <p>{{winwin.winwin.users_left}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-time"><h3 translate>HAY TIEMPO HASTA EL</h3>
                    <strong><md-icon class="icon icon-access_time">access_time</md-icon>{{winwin.winwin.closing_date | date:"dd/MM/yyyy" }}</strong>
                  </div>
                </md-card-actions>
              </md-card>
            </div>
            <div class="col-central" hide show-gt-xs>
              <div layout="column" layout-align="center center">
                <div class="creadores">
                  <img ng-src="{{winwin.imageServer}}/{{winwin.winwin.user.photo}}" alt="" class="avatar-creador style-rounded"  ui-sref="home.public-profile({userId: winwin.winwin.user.id})"/>
                  <md-button ui-sref="home.public-profile({userId: winwin.winwin.user.id})">{{winwin.winwin.user.detail.name}} {{winwin.winwin.user.detail.lastname}}</md-button>
                  <strong>CREADOR</strong>
                </div>
                <div class="activadores">
                  <div layout="row" layout-align="center center" layout-margin layout-wrap>
                    <div ng-repeat="activador in winwin.winwin.users | filter: {pivot :{ creator: 0, moderator: 1}} as filteredActivador" >
                      <img ng-src="{{winwin.imageServer}}/25x25/{{activador.photo}}" alt="{{activador.username}}" title="{{activador.username}}" class="profile-small style-rounded" ui-sref="home.public-profile({userId: activador.id})"/>
                    </div>
                  </div>
                  <strong ng-show="filteredActivador.length > 0">ACTIVADORES</strong>
                </div>
              </div>
            </div>
            <div class="col-right">
              <h2 class="main-title">{{winwin.winwin.title}}</h2>
              <div layout="col" layout-align="center start">
                <div flex="83">
                  <p class="detalle"><strong>Si supieras que somos {{winwin.winwin.users_amount}} personas</strong> para {{winwin.winwin.what_we_do}} <br/>
                  </p>
                  <p><strong>te sumarías?</strong></p>
                  <div class="more-details">
                    <md-button aria-label="menu" class="md-raised" ng-click="open = !open">
                      Más detalles
                    </md-button>
                    <div class="toggle-content" ng-show="open">
                      <div layout="row" layout-align="space-between center" layout-padding class="slide-detalles" ng-show="winwin.winwin.description">
                        <p><pre>{{winwin.winwin.description}}</pre></p>
                      </div>
                      <div layout="row" layout-align="space-between center" layout-padding class="slide-detalles">
                        <md-button  ng-click="winwin.showMessageModal(0, {})">Enviar mensaje al Creador de este winwin</md-button>
                        <div><h3>Estado:</h3> <p class="activo"><md-icon>done</md-icon>{{winwin.winwin.published? 'Activo' : 'Inactivo'}}</p></div>
                        <div><h3>Escala:</h3> <p class="escala"><md-icon>public</md-icon> <strong>{{winwin.winwin.scope}}</strong>{{winwin.winwin.location.formatted_address}}</p></div>
                        <div>
                          <h3>Reportar:</h3>
                          <p>
                            <md-button ng-href ng-click="winwin.reportWinwin()" class="no-padding">
                              <md-icon md-svg-src="assets/images/icon-report.svg"></md-icon>Reportar este Winwin
                            </md-button>
                          </p>
                        </div>
                      </div>
                      <div class="slide-categorias content-bg" layout="column" layout-align="center center" layout-padding>
                        <h4>Categorías:</h4>
                        <div ng-repeat="category in winwin.winwin.interests">{{category.description}}</div>
                      </div>
                    </div>
                  </div>
                  <md-button ng-href class="ver-mas" ng-click="winwin.showMasDetalleDialog()" ng-if="winwin.winwin.description" hide show-gt-sm>+ VER MAS DETALLES</md-button>
                  <md-button class="bt-green md-whiteframe-17dp" ng-if="winwin.winwin.published && !winwin.winwin.is_successful && !winwin.winwin.already_joined && !winwin.winwin.canceled" ng-click="winwin.join()">SI, ME SUMO!</md-button>
                  <md-button class="bt-green md-whiteframe-17dp" ng-if="false && winwin.winwin.already_joined && !winwin.winwin.canceled" ng-click="winwin.showGroupsModal()">VINCULAR WINWIN A GRUPO</md-button>
                  <div class="califica" ng-show="false">
                    <p translate>CALIFICA LA CAMPAÑA DE ESTE WINWIN</p>
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star active" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                    <md-button class="md-star" md-ink-ripple="false">
                      <md-icon>star_rate</md-icon>
                    </md-button>
                  </div>
                </div>
                <div flex="15" layout="column" class="content-social-media">
                  <div
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="feed"
                    socialshare-text="{{winwin.winwin.title}}"
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}"
                    socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
                    socialshare-via="{{winwin.facebookId}}">
                    <md-button class="md-icon-button" ng-href aria-label="facebook">
                      <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
                    </md-button>
                  </div>
                  <div
                    socialshare  
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}"
                    socialshare-provider="twitter">
                    <md-button class="md-icon-button" ng-href aria-label="twitter">
                      <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
                    </md-button>
                  </div>
                  <div
                    socialshare 
                    socialshare-provider="google" 
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}">
                    <md-button class="md-icon-button" ng-href aria-label="google">
                      <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
                    </md-button>
                  </div>
                  <div><md-button class="md-icon-button" ng-href aria-label="email" ng-click="winwin.showModalShareEmailDialog()">
                    <md-icon md-svg-src="assets/images/icon-email.svg"></md-icon>
                  </md-button></div>
                </div>
              </div>
              <div class="creadores" layout="row">
                <div hide show-xs flex>
                  <img ng-src="{{winwin.imageServer}}/{{winwin.winwin.user.photo}}" alt="" class="avatar-creador style-rounded" />
                  <h3>{{winwin.winwin.user.detail.name}} {{winwin.winwin.user.detail.lastname}}</h3>
                  <strong>CREADOR</strong>
                </div>
              </div>
            </div>
          </div>
          <div layout-gt-sm="row" layout-padding layout-align-gt-sm="center start" layout-align="center center" layout="column" class="content-central">
            <div class="sponsors" hide show-gt-sm>
              <h3 class="title">
                <md-icon md-svg-src="assets/images/icon-sponsors-subtitle.svg"></md-icon>{{ 'SPONSORS' | translate }}
              </h3>
              <div layout="row" layout-gt-sm="column" layout-align="center center" layout-margin layout-wrap>
                <div ng-repeat="sponsor in winwin.sponsors">
                  <img ng-src="{{winwin.imageServer}}/250x120/{{sponsor.photo}}" alt="" class="sponsors-img">
                </div>
              </div>
            </div>
            <div class="comments">
              
              <div class="row" ng-repeat="poll in winwin.polls"> 
                <md-card class="md-whiteframe-7dp" ng-show="!poll.data.has_answered && winwin.winwin.already_joined">
                  <div class="card-labels">
                    <md-button ng-if="winwin.winwin.is_moderator" ng-click="winwin.removePoll(poll, $index)" class="md-icon-button" aria-label="eliminar">
                      <md-icon class="icon" md-svg-src="assets/images/icon-delete.svg"></md-icon>
                    </md-button>
                  </div>
                  <md-card-content class="encuesta">
                    <span class="card-title center">
                        <h4>{{poll.question}}</h4>
                    </span>
                    <ul class="collection">
                      <li class="collection-item dismissable black-text" ng-repeat="answer in poll.data.answers">
                        <div>
                          <md-progress-linear md-mode="determinate" value="{{winwin.percentage_votes(poll, answer)}}"></md-progress-linear>
                          <span class="h7 grey-text"> {{answer.content}}</span>
                          <span class="secondary-content">
                            <input class="with-gap" name="poll_{{poll.id}}" type="radio" ng-value="answer.id" ng-checked="poll.selected_answer" ng-model="poll.selected_answer" ng-checked="true"/>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </md-card-content>
                  <button class="btn-large bt-green col-xs-12" ng-click="winwin.votePoll(poll)">Votar</button>
                </md-card>

                <md-card class="md-whiteframe-7dp" ng-show="poll.data.has_answered || !winwin.winwin.already_joined">
                  <div class="card-labels">
                    <md-button  ng-click="winwin.removePoll(poll, $index)" class="md-icon-button" aria-label="eliminar">
                      <md-icon class="icon" md-svg-src="assets/images/icon-delete.svg"></md-icon>
                    </md-button>
                  </div>
                  <md-card-content class="encuesta">
                    <span class="card-title center">
                        <h4>{{poll.question}}</h4>
                    </span>
                    <ul class="collection">
                      <div ng-repeat="answer in poll.data.answers">
                          <div class="progress">
                            <md-progress-linear md-mode="determinate" value="{{winwin.percentage_votes(poll, answer)}}"></md-progress-linear>
                          </div>
                          <li class="collection-item dismissable black-text">
                              <div>
                                  <span class="h7 grey-text"> {{answer.content}}</span>
                                  <strong class="badge green white-text">{{answer.vote_count}}</strong>
                              </div>
                          </li>
                      </div>
                    </ul>
                  </md-card-content>
                </md-card>
              </div>

              <div ng-repeat="item_post in winwin.posts">
                <md-card class="md-whiteframe-7dp" >
                  <div class="card-labels">
                    <md-button ng-if="(winwin.winwin.is_moderator || item_post.user.id == winwin.account.id)" ng-click="winwin.removePost(item_post)" class="md-icon-button" aria-label="eliminar">
                      <md-icon class="icon" md-svg-src="assets/images/icon-delete.svg"></md-icon>
                    </md-button>
                    <md-button ng-if="(winwin.winwin.is_moderator && item_post.sticky==1) || item_post.sticky==1" ng-disabled="!winwin.winwin.is_moderator" ng-click="winwin.setSticky(item_post, false)" class="md-icon-button" aria-label="highlighted on">
                      <md-icon class="icon icon-highlighted" md-svg-src="assets/images/icon-highlighted.svg"></md-icon>
                    </md-button>
                    <md-button ng-if="winwin.winwin.is_moderator && item_post.sticky==0" ng-click="winwin.setSticky(item_post, true)" class="md-icon-button" aria-label="highlighted off">
                      <md-icon class="icon icon-highlighted icon-off" md-svg-src="assets/images/icon-highlighted-off.svg"></md-icon>
                    </md-button>
                  </div>
                  <md-card-header>
                    <md-card-avatar>
                      <img class="md-user-avatar" ng-src="{{winwin.imageServer}}/38x38/{{item_post.user.photo}}" ui-sref="home.public-profile({userId: item_post.user.id})"/>
                    </md-card-avatar>
                    <md-card-header-text>
                      {{item_post.user.username}}
                    </md-card-header-text>
                  </md-card-header>
                  <md-card-content>
                    <p>{{item_post.content}}</p>
                    <div ng-show="item_post.media.type == 'IMAGE'" class="materialboxed _embed-responsive _embed-responsive-16by9" style="width:100%; min-margin-top:30px; margin-bottom:10px; background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));">
                      <img ng-src="{{winwin.imageServer}}/400x/smart/{{item_post.media.name}}" class="img-responsive">
                    </div>
                    <div ng-show="item_post.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9" style="margin-top:30px;">
                     <iframe class="embed-responsive-item" ng-src="{{winwin.getIframeSrc(item_post.media.path)}}" allowfullscreen="" style="width: 100%;height: 225px;"></iframe>
                    </div>
                  </md-card-content>
                    <md-card-actions layout="row" layout-margin layout-align="start end">
                      <div><md-icon class="icon icon-access_time">access_time</md-icon>{{item_post.created_at | moment: 'DD/MM/YYYY' }} </span></div>
                      <div class="green">
                        <md-button ng-disabled="!winwin.winwin.already_joined" ng-click="winwin.vote(item_post, true)" class="md-icon-button">
                          <md-icon class="icon thumb_up">thumb_up</md-icon>
                        </md-button>
                        {{item_post.up_votes}}
                      </div>
                      <div class="red"> 
                        <md-button ng-disabled="!winwin.winwin.already_joined" ng-click="winwin.vote(item_post, false)" class="md-icon-button">
                          <md-icon class="icon thumb_down">thumb_down</md-icon>
                        </md-button>
                        {{item_post.down_votes}}
                      </div>
                      <md-button class="md-icon-button" ng-click="winwin.showSharePost(item_post)">
                        <md-icon>share</md-icon>
                      </md-button>
                      <md-button class="md-icon-button bt-comment"  ng-click="winwin.showReplyDialog(item_post)">
                        <md-icon class="icon insert_comment">insert_comment</md-icon>
                      </md-button>
                  </md-card-actions>
                </md-card>

                <md-card class="md-whiteframe-7dp" flex-offset="15" ng-repeat="comment in item_post.comments | orderBy:'id'">
                  <div layout="row" layout-align="space-between center">
                    <div layout-padding>
                      <md-button ng-if="(winwin.winwin.is_moderator || comment.user.id == winwin.account.id)" ng-click="winwin.removePost(comment)" class="md-icon-button" aria-label="eliminar">
                        <md-icon class="icon" md-svg-src="assets/images/icon-delete.svg"></md-icon>
                      </md-button>
                    </div>
                    <div>
                      <md-card-header>
                        <md-card-header-text>
                          {{comment.user.username}}
                        </md-card-header-text>
                        <md-card-avatar>
                          <img class="md-user-avatar" ng-src="{{winwin.imageServer}}/38x38/{{comment.user.photo}}" ui-sref="home.public-profile({userId: comment.user.id})"/>
                        </md-card-avatar>
                      </md-card-header>
                    </div>
                  </div>
                  <md-card-content>
                    <p>
                      {{comment.content}}
                      <div ng-show="comment.media.type == 'IMAGE'" class="materialboxed _embed-responsive _embed-responsive-16by9" style="width:100%; min-margin-top:30px; margin-bottom:10px; background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));">
                        <img ng-src="{{winwin.imageServer}}/400x/smart/{{comment.media.name}}" class="img-responsive">
                      </div>
                      <div ng-show="comment.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9" style="margin-top:30px;">
                       <iframe class="embed-responsive-item" ng-src="{{winwin.getIframeSrc(comment.media.path)}}" allowfullscreen="" style="width: 100%;height: 225px;"></iframe>
                      </div>
                    </p>
                  </md-card-content>
                  <md-card-actions layout="row" layout-margin layout-align="start end">
                    <div><md-icon class="icon icon-access_time">access_time</md-icon>{{comment.created_at | moment:   'DD/MM/YYYY' }}</div>
                    <div class="green">
                      <md-button ng-disabled="!winwin.winwin.already_joined" ng-click="winwin.vote(comment, true)" class="md-icon-button">
                        <md-icon class="icon thumb_up">thumb_up</md-icon>
                      </md-button>
                      {{comment.up_votes}}
                    </div>
                    <div class="red"> 
                      <md-button ng-disabled="!winwin.winwin.already_joined" ng-click="winwin.vote(comment, false)" class="md-icon-button">
                        <md-icon class="icon thumb_down">thumb_down</md-icon>
                      </md-button>
                      {{comment.down_votes}}
                    </div>
                  </md-card-actions>
                </md-card>
              </div>  
            </div>
            <div class="aside" hide show-gt-sm>
              <div layout-align-gt-sm="start stretch" layout-align="center stretch" layout-padding layout="column">
                <div class="content-bg" ng-if="winwin.winwin.already_joined" ng-show="false">
                  <h3 class="title-notificaction">             
                    <md-icon>notifications</md-icon>
                    <span class="badge" ng-show="(winwin.campanadas | filter:{is_read:0}).length > 0">
                      {{(winwin.campanadas | filter:{is_read:0}).length }}
                    </span> 
                    <md-button ng-click="winwin.showCampanadasDialog()" >
                      CAMPANADA ACTIVA
                    </md-button>
                  </h3>
                </div>
                <div ng-if="winwin.isAuthenticated()">
                  <md-button class="bt-blue" ng-if="winwin.showSendMessageButton" ng-click="winwin.showMessageModal(0, {})">Enviar mensaje a {{winwin.winwin.user.detail.name}}</md-button>
                  <md-card class="inbox-title" ng-if="!winwin.showSendMessageButton">{{winwin.conversation_title}}</md-card>
                  <div class="mensajes-recibidos-content" ng-repeat="cnv in winwin.conversations">
                    <div ng-repeat="message in cnv.messages">
                      <md-card class="mensajeria" layout="row" ng-click="winwin.showMessageModal(cnv.id, cnv.messages)" ng-if="$last" layout-align="space-around-end">
                        <img ng-src="{{winwin.imageServer}}/{{winwin.winwin.user.photo}}" alt="" class="avatar-creador-mensajeria"  ui-sref="home.public-profile({userId: winwin.winwin.user.id})"/>
                        <p class="msg-body">{{ message.body }}</p><p class="msg-name"> {{message.name}}</p>
                    </div>
                  </div>
                  <md-card class="inbox-title" ng-if="!winwin.showSendMessageButton && winwin.conversations.length == 0">
                    <div class="sin-mensajes">
                      No hay mensajes...
                    </div>
                  </md-card>
                </div>
                <div>
                  <md-button class="bt-blue" ng-click="winwin.showRequestSponsorshipMessageModal()">Solicitar ser Sponsor</md-button>
                </div>
                <div class="content-bg">
                  <h4><md-icon md-svg-src="assets/images/icon-state.svg"></md-icon>Estado: <strong>{{winwin.winwin.published? 'Activo' : 'Inactivo'}}</strong></h4>
                </div>
                <div class="content-bg">
                  <h4><md-icon md-svg-src="assets/images/icon-world.svg"></md-icon>Escala: <strong>{{winwin.winwin.scope}}</strong></h4>
                  <p>{{winwin.winwin.location.formatted_address}}</p>
                </div>
                <div class="content-bg" ng-if="winwin.winwin.interests.length > 0">
                  <h4>Categorías: </h4>
                  {{winwin.formattedCategories(winwin.winwin.interests)}}
                  <ul>
                    <li ng-repeat="category in winwin.winwin.interests">{{category.description}}</li>
                  </ul>
                </div>
                <div class="content-bg" ng-if="!winwin.winwin.is_successful && winwin.winwin.already_joined && !winwin.winwin.canceled && !winwin.winwin.is_creator">
                  <p>
                    <md-button ng-href ng-click="winwin.left()" class="no-padding">
                      <md-icon md-svg-src="assets/images/icon-entrar.svg"></md-icon>Abandonar este Winwin
                    </md-button>
                  </p>
                </div>
                <div class="content-bg" ng-if="winwin.winwin.is_creator && !winwin.winwin.canceled">
                  <p>
                    <md-button ng-href ng-click="winwin.close()" class="no-padding">
                      <i class="fa fa-ban" aria-hidden="true"></i>Cancelar Winwin
                    </md-button>
                  </p>
                </div>
                <div class="content-bg" ng-if="winwin.winwin.is_creator">
                  <p class="crear-encuesta">
                    <md-button ng-href ng-click="winwin.showModalPollDialog()" class="no-padding">
                      <md-icon md-svg-src="assets/images/icon-poll.svg"></md-icon>Crear Encuesta
                    </md-button>
                  </p>
                </div>
                <div class="content-bg">
                  <p>
                    <md-button ng-href ng-click="winwin.reportWinwin()" class="no-padding">
                      <md-icon md-svg-src="assets/images/icon-report.svg"></md-icon>Reportar este Winwin
                    </md-button>
                  </p>
                </div>
              </div>
              <md-list ng-cloak>
                <h3 class="title">
                  <md-icon md-svg-src="assets/images/icon-participantes-title.svg"></md-icon>{{ 'PARTICIPANTES' | translate }}
                </h3>
                <md-list-item ng-repeat="participante in winwin.winwin.users | limitTo: 5">
                  <img ng-src="{{winwin.imageServer}}/smart/{{participante.photo}}" alt="" class="md-avatar" ui-sref="home.public-profile({userId: participante.id})">
                  <p>{{participante.username}}</p>
                </md-list-item>
                <md-list-item class="md-no-proxy">
                  <md-button ng-href class="ver-todos" ng-click="winwin.showParticipantesDialog()" ng-show="!winwin.winwin.is_moderator"><strong>+</strong> Ver participantes</md-button>
                  <md-button ng-href class="ver-todos" ng-click="winwin.showParticipantesDialog()" ng-show="winwin.winwin.is_moderator"><strong>+</strong> Organizar participantes</md-button>
                </md-list-item>
              </md-list>
            </div>
          </div>
        </md-tab-body>
        </md-tab>
        <md-tab md-on-select="winwin.show_box_muro = false">
          <md-tab-label>
            <md-icon md-svg-icon="assets/images/icon-sponsors-title.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <div class="notice-star" ng-if="!winwin.sponsors.length">
              <md-icon>star_rate</md-icon>
              <p transalte>AÚN NO HAY SPONSORS!</p>
            </div>
            <md-card class="mobile" ng-repeat="sponsor in winwin.sponsors">
              <md-card-content>
                <img ng-src="{{winwin.imageServer}}/smart/{{sponsor.cover_photo}}" class="md-card-image" alt="">
                <md-card-title>
                  <md-card-title-text>
                    <img ng-src="{{winwin.imageServer}}/x60/{{sponsor.photo}}" class="md-title-image" alt="">
                    <span class="md-headline">{{sponsor.name}}</span>
                  </md-card-title-text>
                </md-card-title>
              </md-card-content>
              <md-card-actions layout="row" layout-align="space-between center">
                <div class="md-card-actions-ww"><h3 translate>Winwins</h3>
                  <p>{{sponsor.winwins_count}}</p>
                </div>
                <div class="md-card-actions-seguidores"><h3 translate>Seguidores</h3>
                  <p>{{sponsor.followers_count}}</p>
                </div>
                <div ng-show="false"><md-button class="bt-green">Seguir</md-button></div>
              </md-card-actions>
            </md-card>
          </md-tab-body>
        </md-tab>
        <md-tab md-on-select="winwin.show_box_muro = false">
          <md-tab-label>
            <md-icon md-svg-icon="assets/images/icon-miembros.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <md-card class="mobile mobile-members"  ng-repeat="participante in winwin.winwin.users">
              <md-card-content>
                <img ng-src="{{winwin.imageServer}}/{{participante.cover_photo}}" class="md-card-image" alt="">
                <md-card-title>
                  <div layout="row" layout-align="space-around end" class="md-card-members">
                    <div class="md-item-text bg-green">
                      <h3 translate>Winwins</h3>
                      <p>{{participante.winwins_amount}}</p>
                    </div>
                    <div layout="column" layout-align="center center">
                      <img ng-src="{{winwin.imageServer}}/smart/{{participante.photo}}" class="md-card-avatar" alt="">
                      <div class="email">{{participante.username}}</div>
                      <md-button class="bt-green" ng-show="false">Seguir</md-button>
                    </div>
                    <div class="md-item-text bg-blue">
                      <h3 translate>Seguidores</h3>
                      <p>{{participante.followers_amount}}</p>
                    </div>
                  </div>
                </md-card-title>
              </md-card-content>
            </md-card>
          </md-tab-body>
        </md-tab>
      </md-tabs>
      </div>
    </md-content>
    <!-- <div class="caja-mensaje" ng-if="winwin.winwin.already_joined"> -->
    <div class="wrap-caja-mensaje caja-flotante" ng-show="winwin.show_box_muro" ng-if="winwin.winwin.already_joined && !winwin.winwin.canceled">
      <div ng-if="winwin.post.media_type" class="content-img-video">
        <img ng-if="winwin.post.media_type == 'IMAGE'" ng-src="{{ winwin.cover_post_image.file }}"  style="height:190px;">
        </img>
        <img ng-if="winwin.post.media_type == 'VIDEO'" ng-src="http://img.youtube.com/vi/{{winwin.post.media_path}}/hqdefault.jpg" style="height:190px;">
        </img>
      </div>
      <div class="caja-mensaje">
        <div layout="row" layout-align="center center">
        </div>
        <div layout="row" layout-align="center center" layout-padding>
          <div>
              <img ng-src="{{winwin.imageServer}}/48x48/{{winwin.account.photo}}" class="caja-mensaje-img" alt="">
          </div>
          <form role="form" ng-submit="winwin.submitPost()" name="postForm" layout="row" layout-align="center center" layout-padding>
            <md-input-container class="md-block">
              <label>Escribí aca...</label>
              <textarea name="content" id="post-input-focus" ng-model="winwin.post.content" md-maxlength="500" rows="5" md-select-on-focus>
              </textarea>
            </md-input-container>
            <div layout="column" layout-align="center center" class="social-media">
              <md-button class="md-fab youtube" aria-label="" ng-click="winwin.showModalVideoPostDialog()">
                <md-icon md-svg-src="assets/images/icon-youtubesmall.svg"></md-icon>
              </md-button>
              <md-button class="md-fab camera" aria-label="" ng-click="winwin.showCropPostImageDialog()">
                <md-icon>photo_camera</md-icon>
              </md-button>
            </div>
            <md-button type="submit" name="action" class="md-fab send" aria-label="" ng-disabled="postForm.$invalid || loadingFlag">
              <md-icon md-svg-src="assets/images/icon-send.svg"></md-icon>
            </md-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</md-content>
