.acme-footer {
  background: #30477d;
  .footer-buttons {
    .footer-button {
      background: #355ca6;
      color: #fff;
      font-size: 13px;
      text-transform: capitalize;
      &:hover {
        background: #3872BF;
      }
    }
    .privacidad {
      color: #fff;
      font-size: 11px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.ver-winwin-button {
      font: 100% $mainHomeFont;
      font-size: 13px;
      color: #fff;
      background-color: #f60;
      line-height: 36px;
      text-transform: capitalize;
    }

    footer-v{
   font-color: #666;
padding:100;
height:200px;
background-color: #3C66B0;
}
