<md-content class="acme-footer">
  <div class="footer-buttons" layout="row" layout-align="center center" layout-xs="column">
<md-button class="ver-winwin-button" hide-sm ng-click="$root.createWinwin()">
			<strong> Explorar Winwins</strong></md-button>
    <md-button class="footer-button">Que Hacemos</md-button>
    <md-button class="footer-button">Manifiesto</md-button>
    <a class="privacidad"><i class="fa fa-lock"></i>
      Terminos y Condiciones</a>
    <md-button class="footer-button">Equipo</md-button>
    <md-button class="footer-button">Qué es Winwins?</md-button>
    <md-button class="footer-button">Sé Partner</md-button>
  </div>
</md-content>
