.acme-footer {
  background: #30477d;
  .footer-buttons {
    .footer-button {
      background: #355ca6;
      color: #fff;
      text-transform: capitalize;
      &:hover {
        background: #3872BF;
      }
    }
    .privacidad {
      color: #fff;
    }
  }
}