<md-content class="acme-footer">
  <div class="footer-sumate">
    <div class="container">
      <div layout="row" layout-xs="column" layout-padding layout-align="space-between end">
        <div flex>
          <h2><img src="assets/images/sumate.svg" class="sumate-img"></h2>
          <p translate>Cuando la gente lidera,
    los líderes acompañan.</p>
          <md-button ng-href ng-click="vm.showLoginDialog()" class="green" ng-if="!vm.isAuthenticated()">{{'COMENZA ESTA AVENTURA' | translate }}</md-button>
        </div>
        <div flex class="scroll-top">
          <md-button class="md-raised md-fab md-warn scroll-top-button" scroll-top  scroll ng-class="{scrollFixed:boolChangeClass}">
            <md-icon md-svg-src="assets/images/icon-arrow-up.svg" aria-label="subir"></md-icon>{{$windows.crolly}}
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div layout-gt-sm="row" layout-padding layout-align="space-between center">
        <div flex>
          <ul>
            <li><a ng-href="/#/about" translate>Qué es winwins</a></li>
            <li><a ng-href="/#/weare" translate>Quiénes somos</a></li>
            <li><a href translate ng-click="vm.showLoginDialog()" ng-if="!vm.isAuthenticated()">Registrate</a></li>
          </ul>
        </div>
        <div flex class="social-media" ng-if="!vm.isAuthenticated()">
          <p translate>INGRESAR</p>
          <md-button class="md-icon-button" ng-href ng-click="vm.showLoginDialog()" aria-label="facebook">
            <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
          </md-button>
<!--           <md-button class="md-icon-button" ng-href="/#/login" aria-label="twitter">
            <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-href="/#/login" aria-label="google">
            <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-href="/#/login" aria-label="yahoo">
            <md-icon md-svg-src="assets/images/icon-yahoo.svg"></md-icon>
          </md-button> -->
          <md-button class="md-icon-button" ng-href ng-click="vm.showLoginDialog()" aria-label="wiwin">
            <md-icon md-svg-src="assets/images/icon-ww.svg"></md-icon>
          </md-button>
        </div>
        <div flex>
          <a ui-sref="home.crear-winwin" class="crear" translate ng-if="vm.isAuthenticated()">+ Crear Winwin</a>
          <a href class="crear" translate ng-click="vm.showLoginDialog('home.crear-winwin')" ng-if="!vm.isAuthenticated()">+ Crear Winwin</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="container">
      <div layout="row" layout-padding layout-align="space-between center">
        <div>
          <a ng-href="/#/terms" translate target="_blank">Términos y condiciones</a>
        </div>
        <div>
          {{'WinWins - Consenos en acción' | translate }} <span class="beta">beta</span>  ©  2016
        </div>
        <div>
          <a ng-href="/#/contact" translate>Contáctanos</a>
        </div>
      </div>
    </div>
  </div>
</md-content>
