<md-content class="acme-highlighted">
  <div class="container" layout="column"></div>
<!--  <div layout="column" class="title-container" layout-align="center center" layout-margin>
    <span class="title" ng-if="vm.title">
    {{ vm.title }}
    </span>
    <span class="subtitle" ng-if="vm.title">
    Propuestas para buscar personas y recursos para materializar una idea
    </span>
  </div> -->
  <div layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-show="vm.loading" md-diameter="100px"></md-progress-circular>
  </div>
  <div layout="row" layout-wrap  layout-xs="column" layout-margin layout-align="center center">
    <div ng-repeat="item in vm.items" class="winwins-container" ng-show="!vm.loading">
      <md-card class="animated fadeInDown">
        <md-card-content>
          <div class="wrap-md-card-img">
           <md-button class="md-raised md-primary" style="background-color: transparent; border:0px;margin:0px;padding: 0px; width:100%;"   ui-sref="home.winwin({winwinId: item.id})"> <img ng-src="{{vm.imageServer}}/315x/{{item.image}}" alt="" class="md-card-img"/></md-button>
          </div>
          <div class="card-labels">
            <md-icon class="icon icon-access_time" ng-if="item.finishing">all_inclusive</md-icon>
            <md-icon class="icon icon-watshot" ng-if="item.popular">whatshot</md-icon>
            <md-icon class="icon icon-highlighted" md-svg-src="assets/images/icon-highlighted.svg" ng-if="item.remarkable"></md-icon>
          </div>
              <md-card-avatar layout="row" layout-align="start center" style="margin-top: -30px; ">
        
   <md-button class=""  ui-sref="home.public-profile({userId: item.user.id})">
       <img class="md-user-avatar" ng-src="{{vm.imageServer}}/40x40/{{item.user.photo}}" ui-sref="home.public-profile({userId: item.user.id})" >
          <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
           {{item.user.username}}
          </md-tooltip>
        </md-button>          
        </md-card-avatar>
        </md-card-content>
        <md-card-title-text layout-align="center center" layout="column">
          <md-button class="md-headline ww-card" ui-sref="home.winwin({winwinId: item.id})">{{item.title}}</md-button>
        </md-card-title-text>
    
        <div class="ultimos-participantes" layout="row" layout-align="start center">
          <img ng-repeat="usr in item.users | limitTo: 6" class="md-user-avatar-members" ng-if="usr.id!=item.user.id" ng-src="{{vm.imageServer}}//{{usr.photo}}" ui-sref="home.public-profile({userId: usr.id})">
        </div>

         <md-card-actions layout="row" class="card" layout-align="start center">
         <div class="somos">Somos
 <span class="card-num"> {{ item.users_already_joined }}</span> </div>
          <div
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="feed"
                    socialshare-text="{{winwin.winwin.title}}"
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}"
                    socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
                    socialshare-via="{{winwin.facebookId}}">
          <md-button class="md-icon-button" >
           <i class="fa fa-facebook icons-card"></i>
          </md-button>
        </div>
         <div
                    socialshare  
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}"
                    socialshare-provider="twitter">
          <md-button class="md-icon-button">
     <i class="fa fa-twitter icons-card"></i>
          </md-button>
        </div>

            <div
                    socialshare 
                    socialshare-provider="google" 
                    socialshare-text="{{winwin.winwin.title}}" 
                    socialshare-media="{{winwin.imageServer}}/{{winwin.winwin.image}}"
                    socialshare-url="{{winwin.base}}/#/winwin/{{winwin.winwin.id}}">
                   <md-button class="md-icon-button" aria-label="Settings">
     <i class="fa fa-google icons-card"></i>
          </md-button>
        </div>

        </md-card-actions>

     <!--    <md-card-content class="what-we-do" ng-if="item.what_we_do && showDescription">
      {{ item.what_we_do }}
    </md-card-content>
    <md-card-actions layout="row" layout-align="space-between center"> -->

      <!--<md-card-header>-->
        <!--<md-card-content>-->
          <!--<img ng-repeat="sponsor in item.sponsors | limitTo: 1" class="responsive-img md-card-sponsor" ng-src="{{vm.imageServer}}/x35/{{sponsor.photo}}" title="{{sponsor.name}}" alt="{{sponsor.name}}">-->
        <!--</md-card-content>-->
      <!--</md-card-header>-->



<!--        <div layout="row" class="card-members">
          <div class="somos">Somos</div>
          <div class="users-joined">{{ item.users_already_joined }}</div>
        </div>
        <div>
          <md-button class="md-icon-button" ng-click="vm.share(item)" arial-label="share">
            <md-icon>share</md-icon>
          </md-button>
        </div>
    </md-card-actions>
   
    </md-card>
  </div>
  <div layout="row" class="view-more-container" layout-align="center center">
    <div class="view-more-background-line"></div>
    <md-button ng-show="vm.viewmore" ui-sref="home.winwin-list" class="ver-todos" arial-label="see all">{{ 'Ver todos' | translate }}</md-button>
  </div>
    </div>
</md-content>

