<md-content class="crear-grupo" ng-show="grupo.stage==1">
    <md-toolbar class="md-tall md-crear md-blue" layout="row" layout-align="center center">
        <h2><span translate>CREA TU GRUPO</span></h2>
    </md-toolbar>
    <div class="container">
        <form method="post" name="grupo.crearForm" ng-submit="grupo.nextStage()" class="form-crear">
            <div layout="column" layout-gt-sm="row" layout-margin layout-padding>
                <div flex>
                    <div class="wrap-md-input-container">
                        <md-input-container class="md-block">
                            <label translate>Nombre para tu grupo</label>
                            <div class="wrap-tooltip">
                                <span class="icon-help">?</span>
                                <div class="tooltip-text" translate>
                                    Nombra tu grupo con  un título que lo represente.
                                </div>
                            </div>
                            <input required name="name" ng-model="grupo.grupo.name">
                            <div ng-messages="grupo.crearForm.name.$error">
                                <div ng-message="required" translate>No se puede crear un Grupo sin nombre!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-align-gt-sm="center center" layout-gt-sm="row">
                        <div flex="50" class="profile-bottom" layout-padding layout-gt-sm="row" layout-align-gt-sm="center center">  
                          <div flex><h3 translate>Privacidad del grupo</h3></div>
                          <div flex>
                            <div layout="row" layout-align="center center" class="bg-white">
                              <div><span translate>Mostrar grupo</span></div>
                              <div>
                                <md-switch name="private" ng-model="grupo.grupo.private" ng-true-value="0" ng-false-value="1" aria-label="Mostrar grupo"></md-switch>
                              </div>
                            </div>
                          </div>
                    </div>                    
                </div>
                <div flex>
                    <div class="wrap-md-input-container">
                        <md-input-container class="md-block">
                            <label translate>Descripcion del grupo</label>
                            <div class="wrap-tooltip">
                                <span class="icon-help">?</span>
                                <div class="tooltip-text" translate>
                                    Acá ingresa información detallada del grupo, datos e información importante. Lugares, fechas, acciones
                                    y toda la información que te resulte relevante.
                                </div>
                            </div>
                            </md-button>
                            <textarea name="description" ng-model="grupo.grupo.description" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-checkbox class="green" ng-model="grupo.grupo.terms" name="terms" ng-change="grupo.clearError()">
                            {{ 'He leído y acepto los' | translate }} <a ng-href="/#/terms" target="_blank" translate>términos y condiciones</a>.
                        </md-checkbox>
                        <div ng-messages="grupo.crearForm.terms.$error" class="help-block" ng-if="grupo.crearForm.terms.$error.notTerms">
                            <p class="small" ng-message="notTerms" translate>Acepta los terminos y condiciones.</p>
                        </div>
                    </md-input-container>
                    <md-button md-no-ink class="md-raised md-primary bt-green md-whiteframe-5dp" ng-disabled="grupo.crearForm.$invalid" type="submit" name="action" translate>{{ 'CONTINUAR' | translate }}</md-button>
                </div>
            </div>
        </form>
    </div>
</md-content>

<md-content class="crear-grupo" ng-show="grupo.stage==2">
    <md-toolbar class="md-tall md-crear md-violet" layout="row" layout-align="center center">
        <h2><md-icon md-svg-src="assets/images/icon-flag.svg"></md-icon><span translate>DALE IDENTIDAD A TU GRUPO</span></h2>
    </md-toolbar>
    <div class="container wrap-crear-grupo">
        <form method="post" name="grupo.crearForm2" ng-submit="grupo.saveGrupo()">
            <div layout="column" layout-gt-sm="row" layout-margin layout-padding>
                <div flex>
                    <md-card>
                        <div class="md-card-wrap"><img ng-src="{{ grupo.preview_image }}"  class="md-card-image" alt=""></div>
                        <md-card-title-text layout-align="center center" layout="column">
                            <md-button class="md-headline">{{grupo.grupo.name}}</md-button>
                        </md-card-title-text>
                    </md-card>
                    <div layout="row" layout-align="center center">
                        <p class="legend">Subí una foto para tu grupo.</p>
                    </div>
                    <div layout="row" layout-align="center center" class="layout-icons">
                        <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" flex ng-click="grupo.showCropCoverDialog()">
                            <md-icon>photo_camera</md-icon>
                        </md-whiteframe>
                    </div>
                </div>
            </div>
            <div class="wrap-md-input-container">
                <md-button md-no-ink class="md-raised md-primary bt-green md-whiteframe-5dp" type="submit" name="action" ng-disabled="loadingFlag" translate>{{ 'CONTINUAR' | translate }}</md-button>
            </div>
        </form>
    </div>
</md-content>